@font-face {
  font-family: "GothamPro light";
  src: url("../assets/fonts/GothamPro/GothamPro-Light.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../assets/fonts/GothamPro/GothamPro.eot");
  src: url("../assets/fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamPro/GothamPro.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro.ttf") format("truetype"), url("../assets/fonts/GothamPro/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro medium";
  src: url("../assets/fonts/GothamPro/GothamPro-Medium.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro bold";
  src: url("../assets/fonts/GothamPro/GothamPro-Bold.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
