$_font-gotham: "GothamPro";
$_font-gotham-light: "GothamPro light";
$_font-gotham-medium: "GothamPro medium";
$_font-gotham-bold: "GothamPro bold";
$_font-bebas: "Bebas Neue Regular";
$_font-bebas-bold: "Bebas Neue Bold";
$-font-karmina-bold: "KarminaBold";

$-default-red: #e30e31;
$-default-red-light: #ff0009;
$-default-gray: #414141;

@font-face {
	font-family: 'GothamPro light';
	src: url('../assets/fonts/GothamPro/GothamPro-Light.woff2') format('woff2'),
	url('../assets/fonts/GothamPro/GothamPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../assets/fonts/GothamPro/GothamPro.eot');
	src: url('../assets/fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/GothamPro/GothamPro.woff2') format('woff2'),
	url('../assets/fonts/GothamPro/GothamPro.ttf') format('truetype'),
	url('../assets/fonts/GothamPro/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro medium';
	src: url('../assets/fonts/GothamPro/GothamPro-Medium.woff2') format('woff2'),
	url('../assets/fonts/GothamPro/GothamPro-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro bold';
	src: url('../assets/fonts/GothamPro/GothamPro-Bold.woff2') format('woff2'),
	url('../assets/fonts/GothamPro/GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../assets/fonts/Bebas Neue/BebasNeueBold.eot');
	src: url('../assets/fonts/Bebas Neue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Bebas Neue/BebasNeueBold.woff2') format('woff2'),
	url('../assets/fonts/Bebas Neue/BebasNeueBold.woff') format('woff'),
	url('../assets/fonts/Bebas Neue/BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../assets/fonts/Bebas Neue/BebasNeueBook.eot');
	src: url('../assets/fonts/Bebas Neue/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Bebas Neue/BebasNeueBook.woff2') format('woff2'),
	url('../assets/fonts/Bebas Neue/BebasNeueBook.woff') format('woff'),
	url('../assets/fonts/Bebas Neue/BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../assets/fonts/Bebas Neue/BebasNeueRegular.eot');
	src: url('../assets/fonts/Bebas Neue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Bebas Neue/BebasNeueRegular.woff2') format('woff2'),
	url('../assets/fonts/Bebas Neue/BebasNeueRegular.woff') format('woff'),
	url('../assets/fonts/Bebas Neue/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KarminaBold';
	src: url('../assets/fonts/Karmina/KarminaBold.eot');
	src: url('../assets/fonts/Karmina/KarminaBold.woff2') format('woff2'),
	url('../assets/fonts/Karmina/KarminaBold.woff') format('woff'),
	url('../assets/fonts/Karmina/KarminaBold.ttf') format('truetype'),
	url('../assets/fonts/Karmina/KarminaBold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body, html {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'GothamPro';
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}
.text, .title {
	margin-bottom: 0;
}
ul, li, a, p, h1, h2, h3, h4, h5 {
	text-decoration: none;
	list-style: none;
	box-shadow: none;
	color: #000;
	margin: 0;
	padding: 0;
	&:hover {
		text-decoration: none;
		box-shadow: none;
		outline: none;
		color: #000;
	}
}
button {
	border: none;
	padding: 0;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.custom_btn {
	background-color: $-default-red;
	font-family: $-font-gotham;
	padding: 19px 38px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.1;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	transition: all 0.35s ease-out;
	&:hover {
		box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.4);
		background-color: #b60b27;
	}
}

.modal {
	padding-left: 15px;
	.modal-dialog {
		margin: auto;
		height: 100%;
		max-height: 100vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		.modal-content {
			padding: 10px 20px 20px 20px;
			.modal-header {
				padding: 0;
				border: none;
			}
			.modal-body {
				padding: 10px 0 0 0;
				.text {
					text-align: center;
					font-size: 16px;
					letter-spacing: 1px;
				}
			}
		}
	}
}

.global-menu {
	z-index: 11;
	background-color: #fff;
	transform: translateY(-100%);
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	box-sizing: border-box;
	transition: all 0.5s ease-out;
	padding-top: 65px;
	&.active {
		transform: translateY(0%);
	}
	.menu-container {
		height: 100%;
		box-shadow: 0 0 25px rgba(0,0,0,0.13);
		padding: 20px 0;
		.nav_container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			.list_item {
				position: relative;
				text-align: center;
				overflow: hidden;
				width: 100%;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					color: #000;
					font-size: 18px;
				}
			}
		}
	}
}