@import 'default.scss';

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	.site-header-mobile {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #fff;
		.row_container {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 13px 15px;
			.hamb_container {
				cursor: pointer;
				span {
					content: '';
					display: block;
					width: 24px;
					height: 3px;
					background-color: #000;
					border-radius: 7px;
					margin-bottom: 5px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.logo_mobile {
				img {
					width: 100%;
					height: 100%;
				}
			}
			.callback_container {
				cursor: pointer;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
main {
	#wrapper-main {
		.section_sale {
			border-bottom: 1px solid rgba(216, 216, 216, 0.5);
			height: calc(100vh - 68px);
			margin-top: 68px;
			background: url("../assets/images/main-image.png") no-repeat center;
			background-size: cover;
			z-index: 1;
			.wrapper {
				position: relative;
				max-width: 1920px;
				padding: 0 15px;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.9);
				z-index: 2;
			}
			.row {
				height: 100%;
			}
			.container_to_move_mobile {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				z-index: 3;
				.title {
					margin-bottom: 40px;
					text-align: center;
					h1 {
						font-family: $-font-bebas-bold;
						color: $-default-gray;
						font-size: 32px;
						line-height: normal;
						letter-spacing: 3px;
						span {
							color: $-default-red;
						}
					}
					h5 {
						opacity: 0.9;
						color: $-default-gray;
						font-size: 14px;
						line-height: 30px;
					}
				}
				.form_control {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 220px;
					margin: 0 auto;
					.material {
						position: relative;
						padding: 0;
						border: none;
						overflow: visible;
						margin-bottom: 35px;
						input {
							box-sizing: border-box;
							width: 100%;
							padding: 7px 0;
							border: none;
							border-radius: 0;
							box-shadow: none;
							border-bottom: 1px solid rgba(0,0,0,0.2);
							background-color: transparent;
							font-size: 16px;
							font-family: $-font-gotham;
							outline: none;
							cursor: text;
							&::-webkit-input-placeholder {
								transition: color 300ms ease;
							}
							&:not(:focus)::-webkit-input-placeholder {
								color: transparent;
							}
						}
						hr {
							content: '';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							margin: 0;
							padding: 0;
							width: 100%;
							height: 2px;
							border: none;
							background: #000;
							font-size: 1px;
							will-change: transform, visibility;
							transition: all 200ms ease-out;
							transform: scaleX(0);
							visibility: hidden;
							z-index: 10;
						}
						label {
							position: absolute;
							bottom: 50%;
							left: 0;
							right: 0;
							transform: translateY(50%);
							font-size: 16px;
							color: #000;
							font-family: $-font-gotham;
							opacity: 0.3;
							transform-origin: 0 -150%;
							transition: transform 300ms ease;
							pointer-events: none;
							line-height: normal;
							margin-bottom: 0;
						}
						input:focus ~ hr {
							transform: scaleX(1);
							visibility: visible;
						}
						input:focus ~ label, input:valid ~ label {
							transform: scale(0.7);
							margin-bottom: 5px;
						}
					}
					.btn_row {
						text-align: center;
						.custom_btn {
							width: 180px;
						}
					}
				}
				.social_container {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					margin-bottom: 20px;
					a {
						opacity: 0.9;
						font-size: 14px;
						letter-spacing: 1.2px;
						&.facebook {
							margin-right: 20px;
						}
					}
				}
			}
		}
		
		.section_events {
			border-bottom: 1px solid rgba(216, 216, 216, 0.5);
			background-color: rgba(249, 249, 249, 0.6);
			.wrapper {
				padding: 60px 15px;
			}
			.section_title {
				text-align: center;
				margin-bottom: 40px;
				.title {
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					margin-bottom: 10px;
					color: $-default-gray;
					span {
						color: $-default-red;
						margin-right: 15px;
					}
				}
				.sub-title {
					width: 100%;
					max-width: 475px;
					margin: 0 auto;
					color: $-default-gray;
					font-size: 14px;
					line-height: 22px;
				}
			}
			.events_container {
				.event_card {
					margin: 0 0px 30px 0px;
					.event_image {
						margin-bottom: 15px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.event_title {
						font-family: $-font-gotham-medium;
						font-size: 18px;
						letter-spacing: 1px;
						margin-bottom: 10px;
					}
					.event_info {
						font-size: 14px;
						line-height: 18px;
						margin-bottom: 10px;
					}
					.event_time_data {
						font-size: 14px;
						line-height: 18px;
						color: $-default-red;
					}
				}
			}
			.btn_row {
				text-align: center;
				.custom_btn {
					padding: 19px 45px;
					width: 260px;
					font-size: 16px;
				}
			}
		}
		
		.section_card_info {
			background: url("../assets/images/hand-bg.png") no-repeat right 28%;
			background-size: 210px 250px;
			.wrapper {
				padding: 60px 15px;
			}
			.section_title {
				margin-bottom: 100px;
				.title {
					font-family: $-font-bebas-bold;
					font-size: 28px;
					color: $-default-gray;
					text-align: center;
					letter-spacing: 2px;
					span {
						color: #f60025;
						&.red_dark {
							color: #e30e31;
							margin-right: 10px;
						}
					}
				}
			}
			.middle_info {
				width: 100%;
				max-width: 100%;
				padding-left: 7%;
				.text{
					position: relative;
					font-family: $-font-karmina-bold;
					font-size: 24px;
					letter-spacing: 1.7px;
					padding-bottom: 100px;
					z-index: 1;
					text-align: left;
					&:after {
						z-index: -1;
					}
					&.arrow {
						img {
							position: absolute;
							top: -40px;
							bottom: 0;
							left: 20%;
							right: 0;
							width: 118px;
							height: 30px;
						}
					}
					&.underline {
						padding-bottom: 150px;
						span {
							display: inline-block;
							transform: rotate(-3deg);
						}
						img {
							position: absolute;
							top: 10px;
							bottom: 0;
							right: 0;
							left: -10px;
							z-index: -1;
							width: 146px;
							height: 36px;
						}
					}
					&.round {
						margin-left: 35px;
						span {
							display: inline-block;
							transform: rotate(-8deg);
						}
						img {
							position: absolute;
							top: -55px;
							bottom: 0;
							right: 0;
							left: -60px;
							width: 238px;
							height: 138px;
							transform: rotate(-8deg);
						}
					}
				}
			}
			.info_add_container {
				margin: 40px auto 0 auto;
				width: 100%;
				max-width: 600px;
				.title {
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					color: $-default-gray;
					margin-bottom: 35px;
				}
				.text {
					font-size: 16px;
					line-height: 26px;
					color: $-default-gray;
					margin: 0 0 40px 0;
				}
				.btn_row {
					text-align: center;
					.custom_btn {
						width: 220px;
						padding: 19px 32px;
					}
				}
			}
		}
		
		.section_speakers {
			border-top: 1px solid rgba(216, 216, 216, 0.5);
			border-bottom: 1px solid rgba(216, 216, 216, 0.5);
			background-color: rgba(249, 249, 249, 0.6);
			.wrapper {
				max-width: 1920px;
				padding: 60px 15px 20px 15px;
			}
			.section_title {
				margin-bottom: 65px;
				text-align: center;
				.title {
					font-size: 28px;
					letter-spacing: 2px;
					color: $-default-gray;
					font-family: $-font-bebas-bold;
					margin-bottom: 10px;
					span {
						color: #e30e31;
						margin-left: 10px;
					}
				}
				.sub-title {
					width: 100%;
					max-width: 480px;
					font-size: 14px;
					line-height: 22px;
					letter-spacing: 0.08px;
					color: $-default-gray;
					margin: 0 auto;
				}
			}
			.main-carousel {
				margin-bottom: 20px;
				overflow: visible;
				.carousel-cell {
					margin-right: 20px;
					width: 100%;
					.speaker_container {
						.img_container {
							img {
								width: 100%;
								height: 100%;
							}
						}
						.bottom_container {
							padding: 15px 32px;
							background-color: #212121;
							.text {
								font-family: $-font-bebas;
								font-size: 18px;
								letter-spacing: 2.5px;
								color: #fff;
								&.red {
									font-family: $-font-bebas-bold;
									color: #b50b27;
									text-transform: uppercase;
								}
							}
						}
					}
				}
			}
			.drag_row {
				padding: 0 15px;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				@keyframes drag_move {
					0% {transform: translateX(-7px)}
					50% {transform: translateX(10px)}
					100% {transform: translateX(-7px)}
				}
				span {
					height: 100%;
					margin-right: 20px;
					font-size: 14px;
					color: $-default-gray;
				}
				img {
					animation-name: drag_move;
					animation-duration: 2s;
					animation-timing-function: ease;
					animation-iteration-count: infinite;
					height: 100%;
				}
			}
		}
		
		.section_partners {
			.wrapper {
				padding: 60px 15px;
			}
			.section_title {
				margin-bottom: 40px;
				.title {
					font-family:$-font-bebas-bold;
					font-size: 28px;
					color: $-default-gray;
					letter-spacing: 2px;
					margin-bottom: 10px;
					text-align: center;
					span {
						color: #ff0009;
						margin-left: 5px;
					}
				}
				.sub-title {
					font-family: $-font-gotham;
					font-size: 14px;
					line-height: 28px;
					color: $-default-gray;
					text-align: center;
					width: 100%;
					max-width: 820px;
					margin: 0 auto;
				}
			}
			.partners_container {
				.img_container {
					margin-bottom: 30px;
					transform: scale(1);
					transition: all 0.5s ease-out;
					&:hover {
						transform: scale(1.1);
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		
		.section_feedback {
			border: 1px solid rgba(216, 216, 216, 0.5);
			border-left: none;
			border-right: none;
			background-color: rgba(249, 249, 249, 0.6);
			.wrapper {
				padding: 60px 15px;
			}
			.section_title {
				margin-bottom: 40px;
				.title {
					color: $-default-gray;
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					text-align: center;
					span {
						color: $-default-red;
					}
				}
			}
			.form_control {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 250px;
				margin: 0 auto 60px auto;
				.text_small {
					color: rgba(0, 0, 0, 0.3);
					font-size: 12px;
					margin-bottom: 10px;
				}
				.material {
					position: relative;
					padding: 0;
					border: none;
					overflow: visible;
					margin-bottom: 35px;
					input {
						box-sizing: border-box;
						width: 100%;
						padding: 7px 0;
						border: none;
						border-radius: 0;
						box-shadow: none;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						background-color: transparent;
						font-size: 16px;
						font-family: $-font-gotham;
						outline: none;
						cursor: text;
						&::-webkit-input-placeholder {
							transition: color 300ms ease;
						}
						&:not(:focus)::-webkit-input-placeholder {
							color: transparent;
						}
					}
					hr {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						margin: 0;
						padding: 0;
						width: 100%;
						height: 2px;
						border: none;
						background: #000;
						font-size: 1px;
						will-change: transform, visibility;
						transition: all 200ms ease-out;
						transform: scaleX(0);
						visibility: hidden;
						z-index: 10;
					}
					label {
						position: absolute;
						bottom: 50%;
						left: 0;
						right: 0;
						transform: translateY(50%);
						font-size: 16px;
						color: #000;
						font-family: $-font-gotham;
						opacity: 0.3;
						transform-origin: 0 -150%;
						transition: transform 300ms ease;
						pointer-events: none;
						line-height: normal;
						margin-bottom: 0;
					}
					input:focus ~ hr {
						transform: scaleX(1);
						visibility: visible;
					}
					input:focus ~ label, input:valid ~ label {
						transform: scale(0.7);
						margin-bottom: 5px;
					}
				}
				.btn_row {
					text-align: center;
					.custom_btn {
						width: 180px;
					}
				}
			}
			.speaker_feedback {
				margin: 0 auto 40px auto;
				width: 100%;
				max-width: 250px;
				.speaker_name {
					color: rgba(0, 0, 0, 0.87);
					font-size: 24px;
					display: flex;
					flex-direction: row;
					align-items: center;
					&:after {
						content: '';
						display: inline-block;
						width: 105px;
						height: 1px;
						background-color: #000;
						opacity: 0.2;
						margin-left: 30px;
					}
				}
				.speaker_contacts {
					p {
						color: #bcbaba;
						font-family: $-font-gotham;
						font-size: 16px;
						line-height: 24px;
						span {
							a {
								color: #bcbaba;
								text-decoration: underline;
								transition: 0.35s ease;
								&:hover {
									color: #000;
								}
							}
						}
					}
					a {
						color: #bcbaba;
						text-decoration: underline;
						transition: 0.35s ease;
						&:hover {
							color: #000;
						}
					}
				}
			}
			.socials_container {
				width: 100%;
				max-width: 250px;
				margin: 0 auto;
				a {
					&.facebook {
						margin-right: 30px;
					}
				}
			}
		}
	}
	#wrapper-speakers {
		margin-top: 68px;
		.speakers_speech {
			padding: 60px 0;
			.wrapper {
				padding: 0 15px;
			}
			.section_title {
				text-align: center;
				width: 100%;
				max-width: 240px;
				margin: 0 auto 40px auto;
				.title {
					font-family: $-font-bebas-bold;
					font-size: 28px;
					color: $-default-gray;
					letter-spacing: 2px;
					text-transform: uppercase;
					span {
						color: $-default-red;
						margin-right: 5px;
					}
				}
			}
			.cards_container {
				.speaker_card {
					position: relative;
					width: 100%;
					max-width: 342px;
					margin: 0 auto 45px auto;
					.image_container {
						width: 250px;
						height: 250px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.text_info {
						width: 100%;
						max-width: 220px;
						margin: -50px 0 0 auto;
						.title_info {
							opacity: 0.78;
							color: $-default-red;
							font-family: $-font-bebas-bold;
							font-size: 24px;
							line-height: 29px;
							letter-spacing: 2px;
						}
						.text {
							font-size: 14px;
							line-height: 24px;
							font-family: $-font-gotham;
							span {
								color: $-default-red;
							}
						}
					}
				}
			}
		}
		.section_feedback {
			border: 1px solid rgba(216, 216, 216, 0.5);
			border-left: none;
			border-right: none;
			background-color: rgba(249, 249, 249, 0.6);
			.wrapper {
				padding: 60px 15px;
			}
			.section_title {
				margin-bottom: 40px;
				.title {
					color: $-default-gray;
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					text-align: center;
					span {
						color: $-default-red;
					}
				}
			}
			.form_control {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 250px;
				margin: 0 auto 60px auto;
				.text_small {
					color: rgba(0, 0, 0, 0.3);
					font-size: 12px;
					margin-bottom: 10px;
				}
				.material {
					position: relative;
					padding: 0;
					border: none;
					overflow: visible;
					margin-bottom: 35px;
					input {
						box-sizing: border-box;
						width: 100%;
						padding: 7px 0;
						border: none;
						border-radius: 0;
						box-shadow: none;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						background-color: transparent;
						font-size: 16px;
						font-family: $-font-gotham;
						outline: none;
						cursor: text;
						&::-webkit-input-placeholder {
							transition: color 300ms ease;
						}
						&:not(:focus)::-webkit-input-placeholder {
							color: transparent;
						}
					}
					hr {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						margin: 0;
						padding: 0;
						width: 100%;
						height: 2px;
						border: none;
						background: #000;
						font-size: 1px;
						will-change: transform, visibility;
						transition: all 200ms ease-out;
						transform: scaleX(0);
						visibility: hidden;
						z-index: 10;
					}
					label {
						position: absolute;
						bottom: 50%;
						left: 0;
						right: 0;
						transform: translateY(50%);
						font-size: 16px;
						color: #000;
						font-family: $-font-gotham;
						opacity: 0.3;
						transform-origin: 0 -150%;
						transition: transform 300ms ease;
						pointer-events: none;
						line-height: normal;
						margin-bottom: 0;
					}
					input:focus ~ hr {
						transform: scaleX(1);
						visibility: visible;
					}
					input:focus ~ label, input:valid ~ label {
						transform: scale(0.7);
						margin-bottom: 5px;
					}
				}
				.btn_row {
					text-align: center;
					.custom_btn {
						width: 180px;
					}
				}
			}
			.speaker_feedback {
				margin: 0 auto 40px auto;
				width: 100%;
				max-width: 250px;
				.speaker_name {
					color: rgba(0, 0, 0, 0.87);
					font-size: 24px;
					display: flex;
					flex-direction: row;
					align-items: center;
					&:after {
						content: '';
						display: inline-block;
						width: 105px;
						height: 1px;
						background-color: #000;
						opacity: 0.2;
						margin-left: 30px;
					}
				}
				.speaker_contacts {
					p {
						color: #bcbaba;
						font-family: $-font-gotham;
						font-size: 16px;
						line-height: 24px;
						span {
							a {
								color: #bcbaba;
								text-decoration: underline;
								transition: 0.35s ease;
								&:hover {
									color: #000;
								}
							}
						}
					}
					a {
						color: #bcbaba;
						text-decoration: underline;
						transition: 0.35s ease;
						&:hover {
							color: #000;
						}
					}
				}
			}
			.socials_container {
				width: 100%;
				max-width: 250px;
				margin: 0 auto;
				a {
					&.facebook {
						margin-right: 30px;
					}
				}
			}
		}
	}
	#wrapper-contacts {
		margin-top: 68px;
		.section_feedback {
			.wrapper {
				padding: 40px 15px;
			}
			.section_title {
				margin-bottom: 40px;
				.title {
					color: $-default-gray;
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					text-align: center;
					span {
						color: $-default-red-light;
					}
				}
			}
			.form_control {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 250px;
				margin: 0 auto 60px auto;
				.text_small {
					color: rgba(0, 0, 0, 0.3);
					font-size: 12px;
					margin-bottom: 10px;
				}
				.material {
					position: relative;
					padding: 0;
					border: none;
					overflow: visible;
					margin-bottom: 35px;
					input {
						box-sizing: border-box;
						width: 100%;
						padding: 7px 0;
						border: none;
						border-radius: 0;
						box-shadow: none;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						background-color: transparent;
						font-size: 16px;
						font-family: $-font-gotham;
						outline: none;
						cursor: text;
						&::-webkit-input-placeholder {
							transition: color 300ms ease;
						}
						&:not(:focus)::-webkit-input-placeholder {
							color: transparent;
						}
					}
					hr {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						margin: 0;
						padding: 0;
						width: 100%;
						height: 2px;
						border: none;
						background: #000;
						font-size: 1px;
						will-change: transform, visibility;
						transition: all 200ms ease-out;
						transform: scaleX(0);
						visibility: hidden;
						z-index: 10;
					}
					label {
						position: absolute;
						bottom: 50%;
						left: 0;
						right: 0;
						transform: translateY(50%);
						font-size: 16px;
						color: #000;
						font-family: $-font-gotham;
						opacity: 0.3;
						transform-origin: 0 -150%;
						transition: transform 300ms ease;
						pointer-events: none;
						line-height: normal;
						margin-bottom: 0;
					}
					input:focus ~ hr {
						transform: scaleX(1);
						visibility: visible;
					}
					input:focus ~ label, input:valid ~ label {
						transform: scale(0.7);
						margin-bottom: 5px;
					}
				}
				.btn_row {
					text-align: center;
					.custom_btn {
						width: 180px;
					}
				}
			}
			.speaker_feedback {
				margin: 0 auto 40px auto;
				width: 100%;
				max-width: 250px;
				.speaker_name {
					color: rgba(0, 0, 0, 0.87);
					font-size: 24px;
					display: flex;
					flex-direction: row;
					align-items: center;
					&:after {
						content: '';
						display: inline-block;
						width: 105px;
						height: 1px;
						background-color: #000;
						opacity: 0.2;
						margin-left: 30px;
					}
				}
				.speaker_contacts {
					p {
						color: #bcbaba;
						font-family: $-font-gotham;
						font-size: 16px;
						line-height: 24px;
						span {
							a {
								color: #bcbaba;
								text-decoration: underline;
								transition: 0.35s ease;
								&:hover {
									color: #000;
								}
							}
						}
					}
					a {
						color: #bcbaba;
						text-decoration: underline;
						transition: 0.35s ease;
						&:hover {
							color: #000;
						}
					}
				}
			}
			.socials_container {
				width: 100%;
				max-width: 250px;
				margin: 0 auto;
				a {
					&.facebook {
						margin-right: 30px;
					}
				}
			}
		}
	}
	#wrapper-events {
		margin-top: 68px;
		.section_events {
			padding: 30px 0 0 0;
			.wrapper {
				padding: 0 15px;
			}
			.section_title {
				text-align: center;
				margin-bottom: 30px;
				.title {
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					color: $-default-gray;
				}
			}
			.event_row {
				margin-bottom: 60px;
				.event_container {
					.event_image {
						img {
							width: 100%;
							height: 100%;
						}
					}
					.bottom_info_container {
						background-color: #fff;
						padding: 30px;
						transition: box-shadow 0.5s ease-out;
						box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.1);
						.sub_title {
							color: rgba(0, 0, 0, 0.25);
							font-size: 14px;
							letter-spacing: 3.5px;
							text-transform: uppercase;
							font-family: $-font-bebas;
						}
						.event_info {
							margin: 20px 0;
							.title {
								font-size: 20px;
								line-height: 24px;
								font-family: $-font-gotham;
							}
							.text {
								color: rgba(0, 0, 0, 0.74);
								font-family: $-font-gotham;
								font-size: 14px;
								line-height: 20px;
								margin-top: 5px;
							}
						}
						.event_data {
							color: rgba(0, 0, 0, 0.25);
							font-family: $-font-gotham;
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 40px;
							span {
								margin: 0 5px;
							}
						}
						.detailed_btn {
							a {
								font-family: $-font-gotham;
								font-size: 18px;
								color: $-default-red;
								padding: 15px 0;
								&:hover {
									img {
										transform: translateX(10px);
									}
								}
								img {
									margin-left: 10px;
									transition: transform 0.5s ease-out;
								}
							}
						}
					}
				}
			}
		}
		.section_feedback {
			border: 1px solid rgba(216, 216, 216, 0.5);
			border-left: none;
			border-right: none;
			background-color: rgba(249, 249, 249, 0.6);
			.wrapper {
				padding: 40px 15px;
			}
			.section_title {
				margin-bottom: 40px;
				.title {
					color: $-default-gray;
					font-family: $-font-bebas-bold;
					font-size: 28px;
					letter-spacing: 2px;
					text-align: center;
					span {
						color: $-default-red;
					}
				}
			}
			.form_control {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 250px;
				margin: 0 auto 60px auto;
				.text_small {
					color: rgba(0, 0, 0, 0.3);
					font-size: 12px;
					margin-bottom: 10px;
				}
				.material {
					position: relative;
					padding: 0;
					border: none;
					overflow: visible;
					margin-bottom: 35px;
					input {
						box-sizing: border-box;
						width: 100%;
						padding: 7px 0;
						border: none;
						border-radius: 0;
						box-shadow: none;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						background-color: transparent;
						font-size: 16px;
						font-family: $-font-gotham;
						outline: none;
						cursor: text;
						&::-webkit-input-placeholder {
							transition: color 300ms ease;
						}
						&:not(:focus)::-webkit-input-placeholder {
							color: transparent;
						}
					}
					hr {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						margin: 0;
						padding: 0;
						width: 100%;
						height: 2px;
						border: none;
						background: #000;
						font-size: 1px;
						will-change: transform, visibility;
						transition: all 200ms ease-out;
						transform: scaleX(0);
						visibility: hidden;
						z-index: 10;
					}
					label {
						position: absolute;
						bottom: 50%;
						left: 0;
						right: 0;
						transform: translateY(50%);
						font-size: 16px;
						color: #000;
						font-family: $-font-gotham;
						opacity: 0.3;
						transform-origin: 0 -150%;
						transition: transform 300ms ease;
						pointer-events: none;
						line-height: normal;
						margin-bottom: 0;
					}
					input:focus ~ hr {
						transform: scaleX(1);
						visibility: visible;
					}
					input:focus ~ label, input:valid ~ label {
						transform: scale(0.7);
						margin-bottom: 5px;
					}
				}
				.btn_row {
					text-align: center;
					.custom_btn {
						width: 180px;
					}
				}
			}
			.speaker_feedback {
				margin: 0 auto 40px auto;
				width: 100%;
				max-width: 250px;
				.speaker_name {
					color: rgba(0, 0, 0, 0.87);
					font-size: 24px;
					display: flex;
					flex-direction: row;
					align-items: center;
					&:after {
						content: '';
						display: inline-block;
						width: 105px;
						height: 1px;
						background-color: #000;
						opacity: 0.2;
						margin-left: 30px;
					}
				}
				.speaker_contacts {
					p {
						color: #bcbaba;
						font-family: $-font-gotham;
						font-size: 16px;
						line-height: 24px;
						span {
							a {
								color: #bcbaba;
								text-decoration: underline;
								transition: 0.35s ease;
								&:hover {
									color: #000;
								}
							}
						}
					}
					a {
						color: #bcbaba;
						text-decoration: underline;
						transition: 0.35s ease;
						&:hover {
							color: #000;
						}
					}
				}
			}
			.socials_container {
				width: 100%;
				max-width: 250px;
				margin: 0 auto;
				a {
					&.facebook {
						margin-right: 30px;
					}
				}
			}
		}
	}
}
footer {
	.site-footer {
		.wrapper {
			padding: 0 15px;
		}
		.bottom-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 30px 0;
			.text {
				font-size: 14px;
			}
		}
	}
}

@import 'media-sm.scss';
@import 'media-md.scss';
@import 'media-lg.scss';
@import 'media-xl.scss';