@font-face {
  font-family: "GothamPro light";
  src: url("../assets/fonts/GothamPro/GothamPro-Light.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../assets/fonts/GothamPro/GothamPro.eot");
  src: url("../assets/fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamPro/GothamPro.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro.ttf") format("truetype"), url("../assets/fonts/GothamPro/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro medium";
  src: url("../assets/fonts/GothamPro/GothamPro-Medium.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro bold";
  src: url("../assets/fonts/GothamPro/GothamPro-Bold.woff2") format("woff2"), url("../assets/fonts/GothamPro/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../assets/fonts/Bebas Neue/BebasNeueBold.eot");
  src: url("../assets/fonts/Bebas Neue/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Bebas Neue/BebasNeueBold.woff2") format("woff2"), url("../assets/fonts/Bebas Neue/BebasNeueBold.woff") format("woff"), url("../assets/fonts/Bebas Neue/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../assets/fonts/Bebas Neue/BebasNeueBook.eot");
  src: url("../assets/fonts/Bebas Neue/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Bebas Neue/BebasNeueBook.woff2") format("woff2"), url("../assets/fonts/Bebas Neue/BebasNeueBook.woff") format("woff"), url("../assets/fonts/Bebas Neue/BebasNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../assets/fonts/Bebas Neue/BebasNeueRegular.eot");
  src: url("../assets/fonts/Bebas Neue/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Bebas Neue/BebasNeueRegular.woff2") format("woff2"), url("../assets/fonts/Bebas Neue/BebasNeueRegular.woff") format("woff"), url("../assets/fonts/Bebas Neue/BebasNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KarminaBold";
  src: url("../assets/fonts/Karmina/KarminaBold.eot");
  src: url("../assets/fonts/Karmina/KarminaBold.woff2") format("woff2"), url("../assets/fonts/Karmina/KarminaBold.woff") format("woff"), url("../assets/fonts/Karmina/KarminaBold.ttf") format("truetype"), url("../assets/fonts/Karmina/KarminaBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "GothamPro";
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.text, .title {
  margin-bottom: 0;
}

ul, li, a, p, h1, h2, h3, h4, h5 {
  text-decoration: none;
  list-style: none;
  box-shadow: none;
  color: #000;
  margin: 0;
  padding: 0;
}
ul:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover {
  text-decoration: none;
  box-shadow: none;
  outline: none;
  color: #000;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.custom_btn {
  background-color: #e30e31;
  font-family: "GothamPro";
  padding: 19px 38px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.35s ease-out;
}
.custom_btn:hover {
  box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: #b60b27;
}

.modal {
  padding-left: 15px;
}
.modal .modal-dialog {
  margin: auto;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal .modal-dialog .modal-content {
  padding: 10px 20px 20px 20px;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 0;
  border: none;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 10px 0 0 0;
}
.modal .modal-dialog .modal-content .modal-body .text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}

.global-menu {
  z-index: 11;
  background-color: #fff;
  transform: translateY(-100%);
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  padding-top: 65px;
}
.global-menu.active {
  transform: translateY(0%);
}
.global-menu .menu-container {
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.13);
  padding: 20px 0;
}
.global-menu .menu-container .nav_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.global-menu .menu-container .nav_container .list_item {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
}
.global-menu .menu-container .nav_container .list_item:last-child {
  margin-bottom: 0;
}
.global-menu .menu-container .nav_container .list_item a {
  color: #000;
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .site-header-mobile {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
header .site-header-mobile .row_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
}
header .site-header-mobile .row_container .hamb_container {
  cursor: pointer;
}
header .site-header-mobile .row_container .hamb_container span {
  content: "";
  display: block;
  width: 24px;
  height: 3px;
  background-color: #000;
  border-radius: 7px;
  margin-bottom: 5px;
}
header .site-header-mobile .row_container .hamb_container span:last-child {
  margin-bottom: 0;
}
header .site-header-mobile .row_container .logo_mobile img {
  width: 100%;
  height: 100%;
}
header .site-header-mobile .row_container .callback_container {
  cursor: pointer;
}
header .site-header-mobile .row_container .callback_container img {
  width: 100%;
  height: 100%;
}

main #wrapper-main .section_sale {
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  height: calc(100vh - 68px);
  margin-top: 68px;
  background: url("../assets/images/main-image.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}
main #wrapper-main .section_sale .wrapper {
  position: relative;
  max-width: 1920px;
  padding: 0 15px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
main #wrapper-main .section_sale .row {
  height: 100%;
}
main #wrapper-main .section_sale .container_to_move_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
main #wrapper-main .section_sale .container_to_move_mobile .title {
  margin-bottom: 40px;
  text-align: center;
}
main #wrapper-main .section_sale .container_to_move_mobile .title h1 {
  font-family: "Bebas Neue Bold";
  color: #414141;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 3px;
}
main #wrapper-main .section_sale .container_to_move_mobile .title h1 span {
  color: #e30e31;
}
main #wrapper-main .section_sale .container_to_move_mobile .title h5 {
  opacity: 0.9;
  color: #414141;
  font-size: 14px;
  line-height: 30px;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
  margin-bottom: 35px;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material input {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 16px;
  font-family: "GothamPro";
  outline: none;
  cursor: text;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #000;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material label {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  font-size: 16px;
  color: #000;
  font-family: "GothamPro";
  opacity: 0.3;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
  line-height: normal;
  margin-bottom: 0;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material input:focus ~ hr {
  transform: scaleX(1);
  visibility: visible;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .material input:focus ~ label, main #wrapper-main .section_sale .container_to_move_mobile .form_control .material input:valid ~ label {
  transform: scale(0.7);
  margin-bottom: 5px;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .btn_row {
  text-align: center;
}
main #wrapper-main .section_sale .container_to_move_mobile .form_control .btn_row .custom_btn {
  width: 180px;
}
main #wrapper-main .section_sale .container_to_move_mobile .social_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 20px;
}
main #wrapper-main .section_sale .container_to_move_mobile .social_container a {
  opacity: 0.9;
  font-size: 14px;
  letter-spacing: 1.2px;
}
main #wrapper-main .section_sale .container_to_move_mobile .social_container a.facebook {
  margin-right: 20px;
}
main #wrapper-main .section_events {
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  background-color: rgba(249, 249, 249, 0.6);
}
main #wrapper-main .section_events .wrapper {
  padding: 60px 15px;
}
main #wrapper-main .section_events .section_title {
  text-align: center;
  margin-bottom: 40px;
}
main #wrapper-main .section_events .section_title .title {
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #414141;
}
main #wrapper-main .section_events .section_title .title span {
  color: #e30e31;
  margin-right: 15px;
}
main #wrapper-main .section_events .section_title .sub-title {
  width: 100%;
  max-width: 475px;
  margin: 0 auto;
  color: #414141;
  font-size: 14px;
  line-height: 22px;
}
main #wrapper-main .section_events .events_container .event_card {
  margin: 0 0px 30px 0px;
}
main #wrapper-main .section_events .events_container .event_card .event_image {
  margin-bottom: 15px;
}
main #wrapper-main .section_events .events_container .event_card .event_image img {
  width: 100%;
  height: 100%;
}
main #wrapper-main .section_events .events_container .event_card .event_title {
  font-family: "GothamPro medium";
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
main #wrapper-main .section_events .events_container .event_card .event_info {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
main #wrapper-main .section_events .events_container .event_card .event_time_data {
  font-size: 14px;
  line-height: 18px;
  color: #e30e31;
}
main #wrapper-main .section_events .btn_row {
  text-align: center;
}
main #wrapper-main .section_events .btn_row .custom_btn {
  padding: 19px 45px;
  width: 260px;
  font-size: 16px;
}
main #wrapper-main .section_card_info {
  background: url("../assets/images/hand-bg.png") no-repeat right 28%;
  background-size: 210px 250px;
}
main #wrapper-main .section_card_info .wrapper {
  padding: 60px 15px;
}
main #wrapper-main .section_card_info .section_title {
  margin-bottom: 100px;
}
main #wrapper-main .section_card_info .section_title .title {
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  color: #414141;
  text-align: center;
  letter-spacing: 2px;
}
main #wrapper-main .section_card_info .section_title .title span {
  color: #f60025;
}
main #wrapper-main .section_card_info .section_title .title span.red_dark {
  color: #e30e31;
  margin-right: 10px;
}
main #wrapper-main .section_card_info .middle_info {
  width: 100%;
  max-width: 100%;
  padding-left: 7%;
}
main #wrapper-main .section_card_info .middle_info .text {
  position: relative;
  font-family: "KarminaBold";
  font-size: 24px;
  letter-spacing: 1.7px;
  padding-bottom: 100px;
  z-index: 1;
  text-align: left;
}
main #wrapper-main .section_card_info .middle_info .text:after {
  z-index: -1;
}
main #wrapper-main .section_card_info .middle_info .text.arrow img {
  position: absolute;
  top: -40px;
  bottom: 0;
  left: 20%;
  right: 0;
  width: 118px;
  height: 30px;
}
main #wrapper-main .section_card_info .middle_info .text.underline {
  padding-bottom: 150px;
}
main #wrapper-main .section_card_info .middle_info .text.underline span {
  display: inline-block;
  transform: rotate(-3deg);
}
main #wrapper-main .section_card_info .middle_info .text.underline img {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  left: -10px;
  z-index: -1;
  width: 146px;
  height: 36px;
}
main #wrapper-main .section_card_info .middle_info .text.round {
  margin-left: 35px;
}
main #wrapper-main .section_card_info .middle_info .text.round span {
  display: inline-block;
  transform: rotate(-8deg);
}
main #wrapper-main .section_card_info .middle_info .text.round img {
  position: absolute;
  top: -55px;
  bottom: 0;
  right: 0;
  left: -60px;
  width: 238px;
  height: 138px;
  transform: rotate(-8deg);
}
main #wrapper-main .section_card_info .info_add_container {
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 600px;
}
main #wrapper-main .section_card_info .info_add_container .title {
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  color: #414141;
  margin-bottom: 35px;
}
main #wrapper-main .section_card_info .info_add_container .text {
  font-size: 16px;
  line-height: 26px;
  color: #414141;
  margin: 0 0 40px 0;
}
main #wrapper-main .section_card_info .info_add_container .btn_row {
  text-align: center;
}
main #wrapper-main .section_card_info .info_add_container .btn_row .custom_btn {
  width: 220px;
  padding: 19px 32px;
}
main #wrapper-main .section_speakers {
  border-top: 1px solid rgba(216, 216, 216, 0.5);
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  background-color: rgba(249, 249, 249, 0.6);
}
main #wrapper-main .section_speakers .wrapper {
  max-width: 1920px;
  padding: 60px 15px 20px 15px;
}
main #wrapper-main .section_speakers .section_title {
  margin-bottom: 65px;
  text-align: center;
}
main #wrapper-main .section_speakers .section_title .title {
  font-size: 28px;
  letter-spacing: 2px;
  color: #414141;
  font-family: "Bebas Neue Bold";
  margin-bottom: 10px;
}
main #wrapper-main .section_speakers .section_title .title span {
  color: #e30e31;
  margin-left: 10px;
}
main #wrapper-main .section_speakers .section_title .sub-title {
  width: 100%;
  max-width: 480px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08px;
  color: #414141;
  margin: 0 auto;
}
main #wrapper-main .section_speakers .main-carousel {
  margin-bottom: 20px;
  overflow: visible;
}
main #wrapper-main .section_speakers .main-carousel .carousel-cell {
  margin-right: 20px;
  width: 100%;
}
main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .img_container img {
  width: 100%;
  height: 100%;
}
main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .bottom_container {
  padding: 15px 32px;
  background-color: #212121;
}
main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .bottom_container .text {
  font-family: "Bebas Neue Regular";
  font-size: 18px;
  letter-spacing: 2.5px;
  color: #fff;
}
main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .bottom_container .text.red {
  font-family: "Bebas Neue Bold";
  color: #b50b27;
  text-transform: uppercase;
}
main #wrapper-main .section_speakers .drag_row {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@keyframes drag_move {
  0% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-7px);
  }
}
main #wrapper-main .section_speakers .drag_row span {
  height: 100%;
  margin-right: 20px;
  font-size: 14px;
  color: #414141;
}
main #wrapper-main .section_speakers .drag_row img {
  animation-name: drag_move;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height: 100%;
}
main #wrapper-main .section_partners .wrapper {
  padding: 60px 15px;
}
main #wrapper-main .section_partners .section_title {
  margin-bottom: 40px;
}
main #wrapper-main .section_partners .section_title .title {
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  color: #414141;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
}
main #wrapper-main .section_partners .section_title .title span {
  color: #ff0009;
  margin-left: 5px;
}
main #wrapper-main .section_partners .section_title .sub-title {
  font-family: "GothamPro";
  font-size: 14px;
  line-height: 28px;
  color: #414141;
  text-align: center;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
}
main #wrapper-main .section_partners .partners_container .img_container {
  margin-bottom: 30px;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
main #wrapper-main .section_partners .partners_container .img_container:hover {
  transform: scale(1.1);
}
main #wrapper-main .section_partners .partners_container .img_container img {
  width: 100%;
  height: 100%;
}
main #wrapper-main .section_feedback {
  border: 1px solid rgba(216, 216, 216, 0.5);
  border-left: none;
  border-right: none;
  background-color: rgba(249, 249, 249, 0.6);
}
main #wrapper-main .section_feedback .wrapper {
  padding: 60px 15px;
}
main #wrapper-main .section_feedback .section_title {
  margin-bottom: 40px;
}
main #wrapper-main .section_feedback .section_title .title {
  color: #414141;
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
}
main #wrapper-main .section_feedback .section_title .title span {
  color: #e30e31;
}
main #wrapper-main .section_feedback .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 60px auto;
}
main #wrapper-main .section_feedback .form_control .text_small {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-bottom: 10px;
}
main #wrapper-main .section_feedback .form_control .material {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
  margin-bottom: 35px;
}
main #wrapper-main .section_feedback .form_control .material input {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 16px;
  font-family: "GothamPro";
  outline: none;
  cursor: text;
}
main #wrapper-main .section_feedback .form_control .material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
main #wrapper-main .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
main #wrapper-main .section_feedback .form_control .material hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #000;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
main #wrapper-main .section_feedback .form_control .material label {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  font-size: 16px;
  color: #000;
  font-family: "GothamPro";
  opacity: 0.3;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
  line-height: normal;
  margin-bottom: 0;
}
main #wrapper-main .section_feedback .form_control .material input:focus ~ hr {
  transform: scaleX(1);
  visibility: visible;
}
main #wrapper-main .section_feedback .form_control .material input:focus ~ label, main #wrapper-main .section_feedback .form_control .material input:valid ~ label {
  transform: scale(0.7);
  margin-bottom: 5px;
}
main #wrapper-main .section_feedback .form_control .btn_row {
  text-align: center;
}
main #wrapper-main .section_feedback .form_control .btn_row .custom_btn {
  width: 180px;
}
main #wrapper-main .section_feedback .speaker_feedback {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: 250px;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_name:after {
  content: "";
  display: inline-block;
  width: 105px;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
  margin-left: 30px;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts p {
  color: #bcbaba;
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 24px;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts p span a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts p span a:hover {
  color: #000;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts a:hover {
  color: #000;
}
main #wrapper-main .section_feedback .socials_container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
main #wrapper-main .section_feedback .socials_container a.facebook {
  margin-right: 30px;
}
main #wrapper-speakers {
  margin-top: 68px;
}
main #wrapper-speakers .speakers_speech {
  padding: 60px 0;
}
main #wrapper-speakers .speakers_speech .wrapper {
  padding: 0 15px;
}
main #wrapper-speakers .speakers_speech .section_title {
  text-align: center;
  width: 100%;
  max-width: 240px;
  margin: 0 auto 40px auto;
}
main #wrapper-speakers .speakers_speech .section_title .title {
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  color: #414141;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main #wrapper-speakers .speakers_speech .section_title .title span {
  color: #e30e31;
  margin-right: 5px;
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card {
  position: relative;
  width: 100%;
  max-width: 342px;
  margin: 0 auto 45px auto;
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card .image_container {
  width: 250px;
  height: 250px;
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card .image_container img {
  width: 100%;
  height: 100%;
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card .text_info {
  width: 100%;
  max-width: 220px;
  margin: -50px 0 0 auto;
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card .text_info .title_info {
  opacity: 0.78;
  color: #e30e31;
  font-family: "Bebas Neue Bold";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card .text_info .text {
  font-size: 14px;
  line-height: 24px;
  font-family: "GothamPro";
}
main #wrapper-speakers .speakers_speech .cards_container .speaker_card .text_info .text span {
  color: #e30e31;
}
main #wrapper-speakers .section_feedback {
  border: 1px solid rgba(216, 216, 216, 0.5);
  border-left: none;
  border-right: none;
  background-color: rgba(249, 249, 249, 0.6);
}
main #wrapper-speakers .section_feedback .wrapper {
  padding: 60px 15px;
}
main #wrapper-speakers .section_feedback .section_title {
  margin-bottom: 40px;
}
main #wrapper-speakers .section_feedback .section_title .title {
  color: #414141;
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
}
main #wrapper-speakers .section_feedback .section_title .title span {
  color: #e30e31;
}
main #wrapper-speakers .section_feedback .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 60px auto;
}
main #wrapper-speakers .section_feedback .form_control .text_small {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-bottom: 10px;
}
main #wrapper-speakers .section_feedback .form_control .material {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
  margin-bottom: 35px;
}
main #wrapper-speakers .section_feedback .form_control .material input {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 16px;
  font-family: "GothamPro";
  outline: none;
  cursor: text;
}
main #wrapper-speakers .section_feedback .form_control .material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
main #wrapper-speakers .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
main #wrapper-speakers .section_feedback .form_control .material hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #000;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
main #wrapper-speakers .section_feedback .form_control .material label {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  font-size: 16px;
  color: #000;
  font-family: "GothamPro";
  opacity: 0.3;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
  line-height: normal;
  margin-bottom: 0;
}
main #wrapper-speakers .section_feedback .form_control .material input:focus ~ hr {
  transform: scaleX(1);
  visibility: visible;
}
main #wrapper-speakers .section_feedback .form_control .material input:focus ~ label, main #wrapper-speakers .section_feedback .form_control .material input:valid ~ label {
  transform: scale(0.7);
  margin-bottom: 5px;
}
main #wrapper-speakers .section_feedback .form_control .btn_row {
  text-align: center;
}
main #wrapper-speakers .section_feedback .form_control .btn_row .custom_btn {
  width: 180px;
}
main #wrapper-speakers .section_feedback .speaker_feedback {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: 250px;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_name:after {
  content: "";
  display: inline-block;
  width: 105px;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
  margin-left: 30px;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts p {
  color: #bcbaba;
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 24px;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts p span a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts p span a:hover {
  color: #000;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts a:hover {
  color: #000;
}
main #wrapper-speakers .section_feedback .socials_container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
main #wrapper-speakers .section_feedback .socials_container a.facebook {
  margin-right: 30px;
}
main #wrapper-contacts {
  margin-top: 68px;
}
main #wrapper-contacts .section_feedback .wrapper {
  padding: 40px 15px;
}
main #wrapper-contacts .section_feedback .section_title {
  margin-bottom: 40px;
}
main #wrapper-contacts .section_feedback .section_title .title {
  color: #414141;
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
}
main #wrapper-contacts .section_feedback .section_title .title span {
  color: #ff0009;
}
main #wrapper-contacts .section_feedback .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 60px auto;
}
main #wrapper-contacts .section_feedback .form_control .text_small {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-bottom: 10px;
}
main #wrapper-contacts .section_feedback .form_control .material {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
  margin-bottom: 35px;
}
main #wrapper-contacts .section_feedback .form_control .material input {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 16px;
  font-family: "GothamPro";
  outline: none;
  cursor: text;
}
main #wrapper-contacts .section_feedback .form_control .material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
main #wrapper-contacts .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
main #wrapper-contacts .section_feedback .form_control .material hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #000;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
main #wrapper-contacts .section_feedback .form_control .material label {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  font-size: 16px;
  color: #000;
  font-family: "GothamPro";
  opacity: 0.3;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
  line-height: normal;
  margin-bottom: 0;
}
main #wrapper-contacts .section_feedback .form_control .material input:focus ~ hr {
  transform: scaleX(1);
  visibility: visible;
}
main #wrapper-contacts .section_feedback .form_control .material input:focus ~ label, main #wrapper-contacts .section_feedback .form_control .material input:valid ~ label {
  transform: scale(0.7);
  margin-bottom: 5px;
}
main #wrapper-contacts .section_feedback .form_control .btn_row {
  text-align: center;
}
main #wrapper-contacts .section_feedback .form_control .btn_row .custom_btn {
  width: 180px;
}
main #wrapper-contacts .section_feedback .speaker_feedback {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: 250px;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_name:after {
  content: "";
  display: inline-block;
  width: 105px;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
  margin-left: 30px;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts p {
  color: #bcbaba;
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 24px;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts p span a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts p span a:hover {
  color: #000;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts a:hover {
  color: #000;
}
main #wrapper-contacts .section_feedback .socials_container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
main #wrapper-contacts .section_feedback .socials_container a.facebook {
  margin-right: 30px;
}
main #wrapper-events {
  margin-top: 68px;
}
main #wrapper-events .section_events {
  padding: 30px 0 0 0;
}
main #wrapper-events .section_events .wrapper {
  padding: 0 15px;
}
main #wrapper-events .section_events .section_title {
  text-align: center;
  margin-bottom: 30px;
}
main #wrapper-events .section_events .section_title .title {
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  color: #414141;
}
main #wrapper-events .section_events .event_row {
  margin-bottom: 60px;
}
main #wrapper-events .section_events .event_row .event_container .event_image img {
  width: 100%;
  height: 100%;
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container {
  background-color: #fff;
  padding: 30px;
  transition: box-shadow 0.5s ease-out;
  box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.1);
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .sub_title {
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-family: "Bebas Neue Regular";
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info {
  margin: 20px 0;
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info .title {
  font-size: 20px;
  line-height: 24px;
  font-family: "GothamPro";
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info .text {
  color: rgba(0, 0, 0, 0.74);
  font-family: "GothamPro";
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_data {
  color: rgba(0, 0, 0, 0.25);
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_data span {
  margin: 0 5px;
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .detailed_btn a {
  font-family: "GothamPro";
  font-size: 18px;
  color: #e30e31;
  padding: 15px 0;
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .detailed_btn a:hover img {
  transform: translateX(10px);
}
main #wrapper-events .section_events .event_row .event_container .bottom_info_container .detailed_btn a img {
  margin-left: 10px;
  transition: transform 0.5s ease-out;
}
main #wrapper-events .section_feedback {
  border: 1px solid rgba(216, 216, 216, 0.5);
  border-left: none;
  border-right: none;
  background-color: rgba(249, 249, 249, 0.6);
}
main #wrapper-events .section_feedback .wrapper {
  padding: 40px 15px;
}
main #wrapper-events .section_feedback .section_title {
  margin-bottom: 40px;
}
main #wrapper-events .section_feedback .section_title .title {
  color: #414141;
  font-family: "Bebas Neue Bold";
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
}
main #wrapper-events .section_feedback .section_title .title span {
  color: #e30e31;
}
main #wrapper-events .section_feedback .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 60px auto;
}
main #wrapper-events .section_feedback .form_control .text_small {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-bottom: 10px;
}
main #wrapper-events .section_feedback .form_control .material {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
  margin-bottom: 35px;
}
main #wrapper-events .section_feedback .form_control .material input {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 16px;
  font-family: "GothamPro";
  outline: none;
  cursor: text;
}
main #wrapper-events .section_feedback .form_control .material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
main #wrapper-events .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
main #wrapper-events .section_feedback .form_control .material hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #000;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
main #wrapper-events .section_feedback .form_control .material label {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  font-size: 16px;
  color: #000;
  font-family: "GothamPro";
  opacity: 0.3;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
  line-height: normal;
  margin-bottom: 0;
}
main #wrapper-events .section_feedback .form_control .material input:focus ~ hr {
  transform: scaleX(1);
  visibility: visible;
}
main #wrapper-events .section_feedback .form_control .material input:focus ~ label, main #wrapper-events .section_feedback .form_control .material input:valid ~ label {
  transform: scale(0.7);
  margin-bottom: 5px;
}
main #wrapper-events .section_feedback .form_control .btn_row {
  text-align: center;
}
main #wrapper-events .section_feedback .form_control .btn_row .custom_btn {
  width: 180px;
}
main #wrapper-events .section_feedback .speaker_feedback {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: 250px;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_name:after {
  content: "";
  display: inline-block;
  width: 105px;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
  margin-left: 30px;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts p {
  color: #bcbaba;
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 24px;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts p span a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts p span a:hover {
  color: #000;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts a {
  color: #bcbaba;
  text-decoration: underline;
  transition: 0.35s ease;
}
main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts a:hover {
  color: #000;
}
main #wrapper-events .section_feedback .socials_container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
main #wrapper-events .section_feedback .socials_container a.facebook {
  margin-right: 30px;
}

footer .site-footer .wrapper {
  padding: 0 15px;
}
footer .site-footer .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
footer .site-footer .bottom-row .text {
  font-size: 14px;
}

@media (min-width: 576px) {
  header .site-header-mobile .row_container {
    padding: 15px 45px;
  }
  header .site-header-mobile .row_container .hamb_container span {
    width: 32px;
    margin-bottom: 7px;
  }

  main #wrapper-main .section_sale {
    background: none;
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
  main #wrapper-main .section_sale .wrapper {
    position: relative;
    max-width: 1920px;
    padding: 30px 0;
  }
  main #wrapper-main .section_sale .container_to_move {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 999;
  }
  main #wrapper-main .section_sale .container_to_move .title {
    margin-bottom: 40px;
  }
  main #wrapper-main .section_sale .container_to_move .title h1 {
    font-family: "Bebas Neue Bold";
    font-size: 40px;
    letter-spacing: 4px;
    color: #414141;
  }
  main #wrapper-main .section_sale .container_to_move .title h1 span {
    color: #e30e31;
  }
  main #wrapper-main .section_sale .container_to_move .title h5 {
    font-size: 14px;
    line-height: 30px;
    opacity: 0.9;
    color: #414141;
  }
  main #wrapper-main .section_sale .container_to_move .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material {
    position: relative;
    padding: 0;
    border: none;
    overflow: visible;
    margin-bottom: 40px;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 16px;
    font-family: "GothamPro";
    outline: none;
    cursor: text;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material input::-webkit-input-placeholder {
    transition: color 300ms ease;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material hr {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #000;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material label {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    font-size: 16px;
    color: #000;
    font-family: "GothamPro";
    opacity: 0.3;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    line-height: normal;
    margin-bottom: 0;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material input:focus ~ hr {
    transform: scaleX(1);
    visibility: visible;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material input:focus ~ label, main #wrapper-main .section_sale .container_to_move .form_control .material input:valid ~ label {
    transform: scale(0.7);
    margin-bottom: 5px;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .btn_row .custom_btn {
    width: 180px;
  }
  main #wrapper-main .section_sale .left_container {
    height: 100%;
  }
  main #wrapper-main .section_sale .left_container .social_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 40px;
  }
  main #wrapper-main .section_sale .left_container .social_container a {
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 1.2px;
    transition: 0.3s ease-out;
  }
  main #wrapper-main .section_sale .left_container .social_container a:hover {
    color: #e30e31;
  }
  main #wrapper-main .section_sale .left_container .social_container a.facebook {
    margin-right: 40px;
  }
  main #wrapper-main .section_sale .right_container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  main #wrapper-main .section_sale .right_container .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main #wrapper-main .section_events .wrapper {
    padding: 80px 29px;
  }
  main #wrapper-main .section_events .section_title {
    text-align: center;
    width: 100%;
    max-width: 475px;
    margin: 0 auto 60px auto;
  }
  main #wrapper-main .section_events .section_title .title {
    font-family: "Bebas Neue Bold";
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    color: #414141;
  }
  main #wrapper-main .section_events .section_title .title span {
    color: #e30e31;
    letter-spacing: 4px;
    margin-right: 10px;
  }
  main #wrapper-main .section_events .section_title .sub-title {
    width: 100%;
    max-width: 475px;
    margin: 0 auto;
    color: #414141;
    font-size: 18px;
    line-height: 22px;
  }
  main #wrapper-main .section_events .events_container .event_card {
    margin: 0 16px 40px 16px;
  }
  main #wrapper-main .section_events .events_container .event_card .event_image {
    margin-bottom: 15px;
  }
  main #wrapper-main .section_events .events_container .event_card .event_image img {
    width: 100%;
    height: 100%;
  }
  main #wrapper-main .section_events .events_container .event_card .event_title {
    font-family: "GothamPro medium";
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  main #wrapper-main .section_events .events_container .event_card .event_info {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  main #wrapper-main .section_events .events_container .event_card .event_time_data {
    font-size: 14px;
    line-height: 18px;
    color: #e30e31;
  }
  main #wrapper-main .section_events .btn_row {
    text-align: center;
  }
  main #wrapper-main .section_events .btn_row .custom_btn {
    padding: 19px 45px;
    width: 260px;
  }
  main #wrapper-main .section_card_info {
    background: url("../assets/images/hand-bg.png") no-repeat right 30%;
    background-size: 315px 325px;
  }
  main #wrapper-main .section_card_info .wrapper {
    padding: 80px 45px;
  }
  main #wrapper-main .section_card_info .section_title {
    margin-bottom: 100px;
  }
  main #wrapper-main .section_card_info .section_title .title {
    font-family: "Bebas Neue Bold";
    font-size: 40px;
    letter-spacing: 4px;
    color: #414141;
    text-align: center;
  }
  main #wrapper-main .section_card_info .section_title .title span {
    color: #f60025;
  }
  main #wrapper-main .section_card_info .section_title .title span.red_dark {
    color: #e30e31;
    margin-right: 15px;
  }
  main #wrapper-main .section_card_info .middle_info {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    padding-left: 0;
  }
  main #wrapper-main .section_card_info .middle_info .text {
    font-size: 35px;
    letter-spacing: 2.51px;
    padding-bottom: 100px;
    text-align: left;
  }
  main #wrapper-main .section_card_info .middle_info .text:after {
    z-index: -1;
  }
  main #wrapper-main .section_card_info .middle_info .text.underline {
    padding-bottom: 150px;
  }
  main #wrapper-main .section_card_info .middle_info .text.underline img {
    width: 211px;
    height: 40px;
  }
  main #wrapper-main .section_card_info .middle_info .text.round img {
    top: -50px;
    left: -45px;
  }
  main #wrapper-main .section_card_info .info_add_container {
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 600px;
  }
  main #wrapper-main .section_card_info .info_add_container .title {
    font-family: "Bebas Neue Bold";
    font-size: 40px;
    letter-spacing: 4px;
    color: #414141;
    margin-bottom: 40px;
  }
  main #wrapper-main .section_card_info .info_add_container .text {
    font-size: 18px;
    line-height: 26px;
    color: #414141;
    margin: 0 0 25px 0;
  }
  main #wrapper-main .section_card_info .info_add_container .btn_row {
    text-align: left;
  }
  main #wrapper-main .section_speakers .wrapper {
    padding: 80px 0;
  }
  main #wrapper-main .section_speakers .section_title {
    margin-bottom: 75px;
    text-align: center;
  }
  main #wrapper-main .section_speakers .section_title .title {
    font-size: 40px;
    letter-spacing: 4px;
    color: #414141;
    font-family: "Bebas Neue Bold";
    margin-bottom: 15px;
  }
  main #wrapper-main .section_speakers .section_title .title span {
    color: #e30e31;
    margin-left: 10px;
  }
  main #wrapper-main .section_speakers .section_title .sub-title {
    width: 100%;
    max-width: 480px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.09px;
    color: #414141;
    margin: 0 auto;
  }
  main #wrapper-main .section_speakers .main-carousel {
    margin-bottom: 20px;
  }
  main #wrapper-main .section_speakers .main-carousel .carousel-cell {
    margin-right: 30px;
    width: 370px;
  }
  main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .img_container img {
    width: 100%;
    height: 100%;
  }
  main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .bottom_container {
    padding: 16px 32px;
    background-color: #212121;
  }
  main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .bottom_container .text {
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    letter-spacing: 2.5px;
    color: #fff;
  }
  main #wrapper-main .section_speakers .main-carousel .carousel-cell .speaker_container .bottom_container .text.red {
    font-family: "Bebas Neue Bold";
    color: #b50b27;
    text-transform: uppercase;
  }
  main #wrapper-main .section_speakers .drag_row {
    padding: 0 45px;
  }
  main #wrapper-main .section_partners .wrapper {
    padding: 80px 30px 40px 30px;
  }
  main #wrapper-main .section_partners .section_title {
    margin-bottom: 40px;
  }
  main #wrapper-main .section_partners .section_title .title {
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-main .section_partners .partners_container .img_container {
    margin-bottom: 40px;
    transform: scale(1);
    transition: all 0.5s ease-out;
  }
  main #wrapper-main .section_partners .partners_container .img_container:hover {
    transform: scale(1.1);
  }
  main #wrapper-main .section_partners .partners_container .img_container img {
    width: 100%;
    height: 100%;
  }
  main #wrapper-main .section_feedback .wrapper {
    padding: 80px 20px;
  }
  main #wrapper-main .section_feedback .section_title {
    margin-bottom: 40px;
  }
  main #wrapper-main .section_feedback .section_title .title {
    text-align: left;
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-main .section_feedback .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    margin: 0;
  }
  main #wrapper-main .section_feedback .form_control .material {
    position: relative;
    padding: 0;
    border: none;
    overflow: visible;
    margin-bottom: 40px;
  }
  main #wrapper-main .section_feedback .form_control .material input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 16px;
    font-family: "GothamPro";
    outline: none;
    cursor: text;
  }
  main #wrapper-main .section_feedback .form_control .material input::-webkit-input-placeholder {
    transition: color 300ms ease;
  }
  main #wrapper-main .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
  }
  main #wrapper-main .section_feedback .form_control .material hr {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #000;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
  }
  main #wrapper-main .section_feedback .form_control .material label {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    font-size: 16px;
    color: #000;
    font-family: "GothamPro";
    opacity: 0.3;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    line-height: normal;
    margin-bottom: 0;
  }
  main #wrapper-main .section_feedback .form_control .material input:focus ~ hr {
    transform: scaleX(1);
    visibility: visible;
  }
  main #wrapper-main .section_feedback .form_control .material input:focus ~ label, main #wrapper-main .section_feedback .form_control .material input:valid ~ label {
    transform: scale(0.7);
    margin-bottom: 5px;
  }
  main #wrapper-main .section_feedback .form_control .btn_row {
    text-align: left;
  }
  main #wrapper-main .section_feedback .form_control .btn_row .custom_btn {
    width: 180px;
  }
  main #wrapper-main .section_feedback .speaker_feedback {
    margin-bottom: 50px;
    max-width: 100%;
  }
  main #wrapper-main .section_feedback .speaker_feedback:last-child {
    margin-bottom: 0;
  }
  main #wrapper-main .section_feedback .speaker_feedback .speaker_name {
    margin-bottom: 10px;
  }
  main #wrapper-main .section_feedback .speaker_feedback .speaker_name:after {
    width: 100%;
    margin: 0 20px 0 30px;
  }
  main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 16px;
  }
  main #wrapper-speakers {
    margin-top: 72px;
  }
  main #wrapper-speakers .speakers_speech {
    padding: 70px 0 10px 0;
  }
  main #wrapper-speakers .speakers_speech .wrapper {
    padding: 0 40px;
  }
  main #wrapper-speakers .speakers_speech .section_title {
    max-width: 400px;
    margin: 0 auto 80px auto;
  }
  main #wrapper-speakers .speakers_speech .section_title .title {
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-speakers .speakers_speech .cards_container .speaker_card {
    margin-bottom: 60px;
  }
  main #wrapper-speakers .section_feedback .wrapper {
    padding: 80px 20px;
  }
  main #wrapper-speakers .section_feedback .section_title {
    margin-bottom: 40px;
  }
  main #wrapper-speakers .section_feedback .section_title .title {
    text-align: left;
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-speakers .section_feedback .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    margin: 0;
  }
  main #wrapper-speakers .section_feedback .form_control .material {
    position: relative;
    padding: 0;
    border: none;
    overflow: visible;
    margin-bottom: 40px;
  }
  main #wrapper-speakers .section_feedback .form_control .material input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 16px;
    font-family: "GothamPro";
    outline: none;
    cursor: text;
  }
  main #wrapper-speakers .section_feedback .form_control .material input::-webkit-input-placeholder {
    transition: color 300ms ease;
  }
  main #wrapper-speakers .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
  }
  main #wrapper-speakers .section_feedback .form_control .material hr {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #000;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
  }
  main #wrapper-speakers .section_feedback .form_control .material label {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    font-size: 16px;
    color: #000;
    font-family: "GothamPro";
    opacity: 0.3;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    line-height: normal;
    margin-bottom: 0;
  }
  main #wrapper-speakers .section_feedback .form_control .material input:focus ~ hr {
    transform: scaleX(1);
    visibility: visible;
  }
  main #wrapper-speakers .section_feedback .form_control .material input:focus ~ label, main #wrapper-speakers .section_feedback .form_control .material input:valid ~ label {
    transform: scale(0.7);
    margin-bottom: 5px;
  }
  main #wrapper-speakers .section_feedback .form_control .btn_row {
    text-align: left;
  }
  main #wrapper-speakers .section_feedback .form_control .btn_row .custom_btn {
    width: 180px;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback {
    margin-bottom: 50px;
    max-width: 100%;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback:last-child {
    margin-bottom: 0;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback .speaker_name {
    margin-bottom: 10px;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback .speaker_name:after {
    width: 100%;
    margin: 0 20px 0 30px;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 16px;
  }
  main #wrapper-contacts {
    margin-top: 0;
  }
  main #wrapper-contacts .section_feedback {
    height: 100vh;
    padding-top: 72px;
  }
  main #wrapper-contacts .section_feedback .wrapper {
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0 20px;
  }
  main #wrapper-contacts .section_feedback .section_title {
    margin-bottom: 40px;
  }
  main #wrapper-contacts .section_feedback .section_title .title {
    text-align: left;
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-contacts .section_feedback .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    margin: 0;
  }
  main #wrapper-contacts .section_feedback .form_control .material {
    position: relative;
    padding: 0;
    border: none;
    overflow: visible;
    margin-bottom: 40px;
  }
  main #wrapper-contacts .section_feedback .form_control .material input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 16px;
    font-family: "GothamPro";
    outline: none;
    cursor: text;
  }
  main #wrapper-contacts .section_feedback .form_control .material input::-webkit-input-placeholder {
    transition: color 300ms ease;
  }
  main #wrapper-contacts .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
  }
  main #wrapper-contacts .section_feedback .form_control .material hr {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #000;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
  }
  main #wrapper-contacts .section_feedback .form_control .material label {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    font-size: 16px;
    color: #000;
    font-family: "GothamPro";
    opacity: 0.3;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    line-height: normal;
    margin-bottom: 0;
  }
  main #wrapper-contacts .section_feedback .form_control .material input:focus ~ hr {
    transform: scaleX(1);
    visibility: visible;
  }
  main #wrapper-contacts .section_feedback .form_control .material input:focus ~ label, main #wrapper-contacts .section_feedback .form_control .material input:valid ~ label {
    transform: scale(0.7);
    margin-bottom: 5px;
  }
  main #wrapper-contacts .section_feedback .form_control .btn_row {
    text-align: left;
  }
  main #wrapper-contacts .section_feedback .form_control .btn_row .custom_btn {
    width: 180px;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback {
    margin-bottom: 50px;
    max-width: 100%;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback:last-child {
    margin-bottom: 0;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback .speaker_name {
    margin-bottom: 10px;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback .speaker_name:after {
    width: 100%;
    margin: 0 20px 0 30px;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 16px;
  }
  main #wrapper-events {
    margin-top: 72px;
  }
  main #wrapper-events .section_events {
    padding: 50px 0 0 0;
  }
  main #wrapper-events .section_events .wrapper {
    padding: 0 45px;
  }
  main #wrapper-events .section_events .section_title {
    text-align: left;
    margin-bottom: 40px;
  }
  main #wrapper-events .section_events .section_title .title {
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-events .section_events .event_row {
    margin-bottom: 60px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 410px;
    margin: -110px auto 0 auto;
    padding: 40px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .sub_title {
    font-size: 16px;
    letter-spacing: 3.5px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info {
    margin: 20px 0;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info .text {
    font-size: 16px;
    line-height: 24px;
  }
  main #wrapper-events .section_feedback .wrapper {
    padding: 80px 20px;
  }
  main #wrapper-events .section_feedback .section_title {
    margin-bottom: 40px;
  }
  main #wrapper-events .section_feedback .section_title .title {
    text-align: left;
    font-size: 40px;
    letter-spacing: 4px;
  }
  main #wrapper-events .section_feedback .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    margin: 0;
  }
  main #wrapper-events .section_feedback .form_control .material {
    position: relative;
    padding: 0;
    border: none;
    overflow: visible;
    margin-bottom: 40px;
  }
  main #wrapper-events .section_feedback .form_control .material input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 16px;
    font-family: "GothamPro";
    outline: none;
    cursor: text;
  }
  main #wrapper-events .section_feedback .form_control .material input::-webkit-input-placeholder {
    transition: color 300ms ease;
  }
  main #wrapper-events .section_feedback .form_control .material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
  }
  main #wrapper-events .section_feedback .form_control .material hr {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #000;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
  }
  main #wrapper-events .section_feedback .form_control .material label {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    font-size: 16px;
    color: #000;
    font-family: "GothamPro";
    opacity: 0.3;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    line-height: normal;
    margin-bottom: 0;
  }
  main #wrapper-events .section_feedback .form_control .material input:focus ~ hr {
    transform: scaleX(1);
    visibility: visible;
  }
  main #wrapper-events .section_feedback .form_control .material input:focus ~ label, main #wrapper-events .section_feedback .form_control .material input:valid ~ label {
    transform: scale(0.7);
    margin-bottom: 5px;
  }
  main #wrapper-events .section_feedback .form_control .btn_row {
    text-align: left;
  }
  main #wrapper-events .section_feedback .form_control .btn_row .custom_btn {
    width: 180px;
  }
  main #wrapper-events .section_feedback .speaker_feedback {
    margin-bottom: 50px;
    max-width: 100%;
  }
  main #wrapper-events .section_feedback .speaker_feedback:last-child {
    margin-bottom: 0;
  }
  main #wrapper-events .section_feedback .speaker_feedback .speaker_name {
    margin-bottom: 10px;
  }
  main #wrapper-events .section_feedback .speaker_feedback .speaker_name:after {
    width: 100%;
    margin: 0 20px 0 30px;
  }
  main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 16px;
  }

  footer .site-footer.contacts {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  footer .site-footer .wrapper {
    padding: 0 45px;
  }
  footer .site-footer .bottom-row .socials_container_mobile .facebook {
    margin-right: 30px;
  }
  footer .site-footer .bottom-row .socials_container a {
    transition: color 0.4s ease-out;
  }
  footer .site-footer .bottom-row .socials_container a:hover.facebook {
    color: #3b5998;
  }
  footer .site-footer .bottom-row .socials_container a:hover.instagram {
    color: #e30e31;
  }
}
@media (min-width: 768px) {
  header .site-header-mobile .row_container {
    padding: 15px 40px;
  }

  main #wrapper-main .section_sale .container_to_move .title {
    margin-bottom: 20px;
  }
  main #wrapper-main .section_sale .container_to_move .title h1 {
    font-size: 60px;
    letter-spacing: 4px;
    line-height: 85px;
  }
  main #wrapper-main .section_sale .container_to_move .title h5 {
    font-size: 16px;
  }
  main #wrapper-main .section_sale .container_to_move .form_control .material {
    margin-bottom: 50px;
  }
  main #wrapper-main .section_events .wrapper {
    padding: 100px 30px;
  }
  main #wrapper-main .section_events .section_title {
    max-width: 600px;
  }
  main #wrapper-main .section_events .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-main .section_events .events_container .event_card {
    margin-bottom: 60px;
  }
  main #wrapper-main .section_card_info {
    background: url("../assets/images/hand-bg.png") no-repeat 120% 45%;
    background-size: 505px 590px;
  }
  main #wrapper-main .section_card_info .section_title {
    margin-bottom: 120px;
  }
  main #wrapper-main .section_card_info .section_title .title {
    font-size: 60px;
    letter-spacing: 6px;
  }
  main #wrapper-main .section_card_info .middle_info {
    padding-left: 30px;
  }
  main #wrapper-main .section_card_info .info_add_container .title {
    font-size: 56px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  main #wrapper-main .section_speakers .wrapper {
    padding: 100px 0;
  }
  main #wrapper-main .section_speakers .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
    margin-bottom: 0;
  }
  main #wrapper-main .section_speakers .section_title .sub-title {
    font-size: 18px;
  }
  main #wrapper-main .section_speakers .main-carousel {
    padding-left: 30px;
  }
  main #wrapper-main .section_speakers .main-carousel .carousel-cell {
    margin-right: 40px;
  }
  main #wrapper-main .section_speakers .drag_row {
    padding: 0 40px;
  }
  main #wrapper-main .section_partners .wrapper {
    padding: 100px 25px 60px 25px;
  }
  main #wrapper-main .section_partners .section_title {
    width: 100%;
    max-width: 550px;
    margin: 0 auto 40px auto;
  }
  main #wrapper-main .section_partners .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-main .section_partners .section_title .sub-title {
    font-size: 18px;
  }
  main #wrapper-main .section_feedback .wrapper {
    padding: 100px 40px;
  }
  main #wrapper-main .section_feedback .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-main .section_feedback .form_control {
    max-width: 322px;
  }
  main #wrapper-main .section_feedback .speaker_feedback {
    padding-left: 50px;
  }
  main #wrapper-main .section_feedback .speaker_feedback .speaker_name:after {
    width: 104px;
    margin-right: 0;
  }
  main #wrapper-main .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 18px;
  }
  main #wrapper-speakers {
    margin-top: 72px;
  }
  main #wrapper-speakers .speakers_speech {
    padding: 90px 0 5px 0;
  }
  main #wrapper-speakers .speakers_speech .wrapper {
    padding: 0 40px;
  }
  main #wrapper-speakers .speakers_speech .section_title {
    max-width: 510px;
    margin: 0 auto 80px auto;
  }
  main #wrapper-speakers .speakers_speech .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-speakers .speakers_speech .cards_container .speaker_card {
    margin-bottom: 85px;
  }
  main #wrapper-speakers .section_feedback .wrapper {
    padding: 100px 40px;
  }
  main #wrapper-speakers .section_feedback .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-speakers .section_feedback .form_control {
    max-width: 322px;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback {
    padding-left: 50px;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback .speaker_name:after {
    width: 104px;
    margin-right: 0;
  }
  main #wrapper-speakers .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 18px;
  }
  main #wrapper-contacts {
    margin-top: 0;
  }
  main #wrapper-contacts .section_feedback .wrapper {
    padding: 0 40px;
  }
  main #wrapper-contacts .section_feedback .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-contacts .section_feedback .form_control {
    max-width: 322px;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback {
    padding-left: 50px;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback .speaker_name:after {
    width: 104px;
    margin-right: 0;
  }
  main #wrapper-contacts .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 18px;
  }
  main #wrapper-events {
    margin-top: 72px;
  }
  main #wrapper-events .section_events {
    padding: 70px 0 0 0;
  }
  main #wrapper-events .section_events .wrapper {
    padding: 0 40px;
  }
  main #wrapper-events .section_events .section_title {
    margin-bottom: 60px;
  }
  main #wrapper-events .section_events .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-events .section_events .event_row {
    margin-bottom: 180px;
  }
  main #wrapper-events .section_events .event_row .event_container .event_image {
    width: 570px;
    margin: 0 0 0 auto;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 1;
    margin: 0 0 0 auto;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .sub_title {
    font-size: 16px;
    letter-spacing: 3.5px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info {
    margin: 20px 0;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info .text {
    font-size: 16px;
    line-height: 24px;
  }
  main #wrapper-events .section_feedback .wrapper {
    padding: 100px 40px;
  }
  main #wrapper-events .section_feedback .section_title .title {
    font-size: 56px;
    letter-spacing: 5px;
  }
  main #wrapper-events .section_feedback .form_control {
    max-width: 322px;
  }
  main #wrapper-events .section_feedback .speaker_feedback {
    padding-left: 50px;
  }
  main #wrapper-events .section_feedback .speaker_feedback .speaker_name:after {
    width: 104px;
    margin-right: 0;
  }
  main #wrapper-events .section_feedback .speaker_feedback .speaker_contacts p {
    font-size: 18px;
  }

  footer .site-footer .wrapper {
    padding: 0 40px;
  }
}
@media (min-width: 992px) {
  header .site-header {
    padding: 20px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  header .site-header .header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .site-header .header_container .logo {
    display: flex;
    align-items: center;
    height: 100%;
  }
  header .site-header .header_container .logo img {
    width: 100px;
    height: 100%;
  }
  header .site-header .header_container .nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  header .site-header .header_container .nav_container .list_item {
    margin-right: 25px;
  }
  header .site-header .header_container .nav_container .list_item:hover a {
    color: #e30e31;
  }
  header .site-header .header_container .nav_container .list_item:last-child {
    margin-right: 0;
  }
  header .site-header .header_container .nav_container .list_item a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: 0.3s ease-out;
  }
  header .site-header .header_container .numb_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  header .site-header .header_container .numb_container .icon {
    margin-right: 5px;
  }
  header .site-header .header_container .numb_container .icon img {
    width: 100%;
    height: 100%;
  }
  header .site-header .header_container .numb_container .text {
    font-size: 14px;
  }

  main #wrapper-main .section_sale {
    height: calc(100vh - 86px);
    margin-top: 86px;
  }
  main #wrapper-main .section_sale .container_to_move {
    left: 13%;
  }
  main #wrapper-main .section_sale .container_to_move .form_control {
    max-width: 322px;
  }
  main #wrapper-main .section_events .wrapper {
    padding: 100px 30px;
  }
  main #wrapper-main .section_events .events_container .event_card {
    margin: 0 17px 60px 17px;
  }
  main #wrapper-main .section_card_info {
    background-size: 780px 916px;
    background: url("../assets/images/hand-bg.png") no-repeat 150% 70%;
  }
  main #wrapper-main .section_card_info .wrapper {
    padding: 100px 45px;
  }
  main #wrapper-main .section_card_info .section_title .title {
    font-size: 80px;
    letter-spacing: 8px;
  }
  main #wrapper-main .section_card_info .middle_info {
    padding-left: 10%;
  }
  main #wrapper-main .section_card_info .info_add_container {
    margin-top: 100px;
  }
  main #wrapper-main .section_speakers .wrapper {
    padding: 100px 0 60px 0;
  }
  main #wrapper-main .section_partners .wrapper {
    padding: 100px 25px 60px 25px;
  }
  main #wrapper-main .section_feedback .wrapper {
    max-width: 770px;
    margin: 0 auto;
    padding: 100px 0;
  }
  main #wrapper-speakers {
    margin-top: 86px;
  }
  main #wrapper-speakers .speakers_speech {
    padding: 90px 0 5px 0;
  }
  main #wrapper-speakers .speakers_speech .wrapper {
    padding: 0 40px;
  }
  main #wrapper-speakers .speakers_speech .section_title {
    max-width: 710px;
    margin: 0 auto 120px auto;
  }
  main #wrapper-speakers .speakers_speech .section_title .title {
    font-size: 80px;
    letter-spacing: 8px;
  }
  main #wrapper-speakers .speakers_speech .cards_container .speaker_card {
    margin-bottom: 85px;
  }
  main #wrapper-speakers .section_feedback .wrapper {
    max-width: 770px;
    margin: 0 auto;
    padding: 100px 0;
  }
  main #wrapper-contacts {
    margin-top: 0;
  }
  main #wrapper-contacts .section_feedback .wrapper {
    max-width: 770px;
    margin: 0 auto;
    padding: 0;
  }
  main #wrapper-events {
    margin-top: 86px;
  }
  main #wrapper-events .section_events {
    padding: 90px 0 0 0;
  }
  main #wrapper-events .section_events .wrapper {
    padding: 0 47px;
  }
  main #wrapper-events .section_events .section_title {
    margin-bottom: 80px;
  }
  main #wrapper-events .section_events .section_title .title {
    font-size: 80px;
    letter-spacing: 8px;
  }
  main #wrapper-events .section_events .event_row {
    margin-bottom: 160px;
  }
  main #wrapper-events .section_events .event_row .event_container .event_image {
    width: 730px;
    margin: 0 0 0 auto;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    margin: 0 0 0 auto;
    padding: 50px;
    max-width: 440px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .sub_title {
    font-size: 18px;
    letter-spacing: 4.5px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info {
    margin: 20px 0;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info .title {
    font-size: 24px;
    line-height: 24px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_info .text {
    font-size: 16px;
    line-height: 24px;
  }
  main #wrapper-events .section_events .event_row .event_container .bottom_info_container .event_data {
    margin-bottom: 45px;
  }
  main #wrapper-events .section_feedback .wrapper {
    max-width: 770px;
    margin: 0 auto;
    padding: 100px 0;
  }

  footer .site-footer .wrapper .bottom-row .socials_container a.facebook {
    margin-right: 45px;
  }
}
@media (min-width: 1200px) {
  header .site-header {
    padding: 22px 60px;
  }
  header .site-header .header_container .nav_container .list_item {
    margin-right: 40px;
  }

  main #wrapper-main .section_sale .wrapper {
    padding: 30px 60px;
  }
  main #wrapper-main .section_sale .container_to_move .title h1 {
    font-size: 80px;
    line-height: 85px;
    letter-spacing: 8px;
  }
  main #wrapper-main .section_sale .left_container .social_container {
    padding-left: 0;
  }
  main #wrapper-main .section_events .wrapper {
    padding: 100px 120px;
  }
  main #wrapper-main .section_events .events_container .event_card {
    margin: 0 30px 60px 30px;
  }
  main #wrapper-main .section_card_info {
    background: url("../assets/images/hand-bg.png") no-repeat right 60%;
  }
  main #wrapper-main .section_card_info .wrapper {
    padding: 100px 0;
  }
  main #wrapper-main .section_card_info .section_title {
    margin-bottom: 100px;
  }
  main #wrapper-main .section_card_info .middle_info {
    width: 100%;
    max-width: 400px;
    padding-left: 0;
    margin: 0 auto 0 20%;
  }
  main #wrapper-main .section_card_info .middle_info .text {
    padding-bottom: 150px;
  }
  main #wrapper-main .section_speakers .main-carousel {
    padding-left: 150px;
    margin-bottom: 20px;
  }
  main #wrapper-main .section_partners .wrapper {
    padding: 100px 60px;
  }
  main #wrapper-main .section_feedback .wrapper {
    max-width: 1000px;
    padding: 100px 0;
  }
  main #wrapper-speakers {
    margin-top: 90px;
  }
  main #wrapper-speakers .speakers_speech {
    padding: 70px 0 0 0;
  }
  main #wrapper-speakers .speakers_speech .wrapper {
    padding: 0 40px;
  }
  main #wrapper-speakers .speakers_speech .section_title {
    max-width: 860px;
    margin: 0 auto 80px auto;
  }
  main #wrapper-speakers .speakers_speech .section_title .title {
    font-size: 110px;
    letter-spacing: 5px;
  }
  main #wrapper-speakers .speakers_speech .cards_container .speaker_card {
    margin-bottom: 85px;
  }
  main #wrapper-speakers .section_feedback .wrapper {
    max-width: 1000px;
    padding: 100px 0;
  }
  main #wrapper-contacts {
    margin-top: 0;
  }
  main #wrapper-contacts .section_feedback .wrapper {
    max-width: 1000px;
    padding: 0;
  }
  main #wrapper-events {
    margin-top: 86px;
  }
  main #wrapper-events .section_events {
    padding: 90px 0 0 0;
  }
  main #wrapper-events .section_events .wrapper {
    max-width: 1240px;
    padding: 0 60px;
  }
  main #wrapper-events .section_events .section_title {
    margin-bottom: 80px;
  }
  main #wrapper-events .section_events .section_title .title {
    font-size: 80px;
    letter-spacing: 8px;
  }
  main #wrapper-events .section_events .event_row {
    margin-bottom: 160px;
  }
  main #wrapper-events .section_feedback .wrapper {
    max-width: 1000px;
    padding: 100px 0;
  }

  footer .site-footer .wrapper {
    max-width: 1260px;
    padding: 0 60px;
  }
}
