@media (min-width: 576px) {
	header {
		.site-header-mobile {
			.row_container {
				padding: 15px 45px;
				.hamb_container {
					span {
						width: 32px;
						margin-bottom: 7px;
					}
				}
			}
		}
	}
	main {
		#wrapper-main {
			.section_sale {
				background: none;
				height: calc(100vh - 72px);
				margin-top: 72px;
				.wrapper {
					position: relative;
					max-width: 1920px;
					padding: 30px 0;
				}
				.container_to_move {
					position: absolute;
					top: 50%;
					left: 40px;
					transform: translateY(-50%);
					z-index: 999;
					.title {
						margin-bottom: 40px;
						h1 {
							font-family: $-font-bebas-bold;
							font-size: 40px;
							letter-spacing: 4px;
							color: $-default-gray;
							span {
								color: $-default-red;
							}
						}
						h5 {
							font-size: 14px;
							line-height: 30px;
							opacity: 0.9;
							color: $-default-gray;
						}
					}
					.form_control {
						display: flex;
						flex-direction: column;
						width: 100%;
						max-width: 250px;
						.material {
							position: relative;
							padding: 0;
							border: none;
							overflow: visible;
							margin-bottom: 40px;
							input {
								box-sizing: border-box;
								width: 100%;
								padding: 7px 0;
								border: none;
								border-radius: 0;
								box-shadow: none;
								border-bottom: 1px solid rgba(0,0,0,0.2);
								background-color: transparent;
								font-size: 16px;
								font-family: $-font-gotham;
								outline: none;
								cursor: text;
								&::-webkit-input-placeholder {
									transition: color 300ms ease;
								}
								&:not(:focus)::-webkit-input-placeholder {
									color: transparent;
								}
							}
							hr {
								content: '';
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								margin: 0;
								padding: 0;
								width: 100%;
								height: 2px;
								border: none;
								background: #000;
								font-size: 1px;
								will-change: transform, visibility;
								transition: all 200ms ease-out;
								transform: scaleX(0);
								visibility: hidden;
								z-index: 10;
							}
							label {
								position: absolute;
								bottom: 50%;
								left: 0;
								right: 0;
								transform: translateY(50%);
								font-size: 16px;
								color: #000;
								font-family: $-font-gotham;
								opacity: 0.3;
								transform-origin: 0 -150%;
								transition: transform 300ms ease;
								pointer-events: none;
								line-height: normal;
								margin-bottom: 0;
							}
							input:focus ~ hr {
								transform: scaleX(1);
								visibility: visible;
							}
							input:focus ~ label, input:valid ~ label {
								transform: scale(0.7);
								margin-bottom: 5px;
							}
						}
						.btn_row {
							.custom_btn {
								width: 180px;
							}
						}
					}
				}
				.left_container {
					height: 100%;
					.social_container {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						padding-left: 40px;
						a {
							opacity: 0.5;
							font-size: 14px;
							letter-spacing: 1.2px;
							transition: 0.3s ease-out;
							&:hover {
								color: $-default-red;
							}
							&.facebook {
								margin-right: 40px;
							}
						}
					}
				}
				.right_container {
					width: 100%;
					height: 100%;
					position: relative;
					z-index: 1;
					.photo {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
			
			.section_events {
				.wrapper {
					padding: 80px 29px;
				}
				.section_title {
					text-align: center;
					width: 100%;
					max-width: 475px;
					margin: 0 auto 60px auto;
					.title {
						font-family: $-font-bebas-bold;
						font-size: 40px;
						letter-spacing: 4px;
						margin-bottom: 10px;
						color: $-default-gray;
						span {
							color: $-default-red;
							letter-spacing: 4px;
							margin-right: 10px;
						}
					}
					.sub-title {
						width: 100%;
						max-width: 475px;
						margin: 0 auto;
						color: $-default-gray;
						font-size: 18px;
						line-height: 22px;
					}
				}
				.events_container {
					.event_card {
						margin: 0 16px 40px 16px;
						.event_image {
							margin-bottom: 15px;
							img {
								width: 100%;
								height: 100%;
							}
						}
						.event_title {
							font-family: $-font-gotham-medium;
							font-size: 18px;
							letter-spacing: 1px;
							margin-bottom: 10px;
						}
						.event_info {
							font-size: 14px;
							line-height: 18px;
							margin-bottom: 10px;
						}
						.event_time_data {
							font-size: 14px;
							line-height: 18px;
							color: $-default-red;
						}
					}
				}
				.btn_row {
					text-align: center;
					.custom_btn {
						padding: 19px 45px;
						width: 260px;
					}
				}
			}
			
			.section_card_info {
				background: url("../assets/images/hand-bg.png") no-repeat right 30%;
				background-size: 315px 325px;
				.wrapper {
					padding: 80px 45px;
				}
				.section_title {
					margin-bottom: 100px;
					.title {
						font-family: $-font-bebas-bold;
						font-size: 40px;
						letter-spacing: 4px;
						color: $-default-gray;
						text-align: center;
						span {
							color: #f60025;
							&.red_dark {
								color: #e30e31;
								margin-right: 15px;
							}
						}
					}
				}
				.middle_info {
					width: 100%;
					max-width: 400px;
					margin-left: 0;
					padding-left: 0;
					.text{
						font-size: 35px;
						letter-spacing: 2.51px;
						padding-bottom: 100px;
						text-align: left;
						&:after {
							z-index: -1;
						}
						&.arrow {
							img {
							
							}
						}
						&.underline {
							padding-bottom: 150px;
							img {
								width: 211px;
								height: 40px;
							}
						}
						&.round {
							img {
								top: -50px;
								left: -45px;
							}
						}
					}
				}
				.info_add_container {
					margin: 50px auto 0 auto;
					width: 100%;
					max-width: 600px;
					.title {
						font-family: $-font-bebas-bold;
						font-size: 40px;
						letter-spacing: 4px;
						color: $-default-gray;
						margin-bottom: 40px;
					}
					.text {
						font-size: 18px;
						line-height: 26px;
						color: $-default-gray;
						margin: 0 0 25px 0;
					}
					.btn_row {
						text-align: left;
					}
				}
			}
			
			.section_speakers {
				.wrapper {
					padding: 80px 0;
				}
				.section_title {
					margin-bottom: 75px;
					text-align: center;
					.title {
						font-size: 40px;
						letter-spacing: 4px;
						color: $-default-gray;
						font-family: $-font-bebas-bold;
						margin-bottom: 15px;
						span {
							color: #e30e31;
							margin-left: 10px;
						}
					}
					.sub-title {
						width: 100%;
						max-width: 480px;
						font-size: 16px;
						line-height: 22px;
						letter-spacing: 0.09px;
						color: $-default-gray;
						margin: 0 auto;
					}
				}
				.main-carousel {
					margin-bottom: 20px;
					.carousel-cell {
						margin-right: 30px;
						width: 370px;
						.speaker_container {
							.img_container {
								img {
									width: 100%;
									height: 100%;
								}
							}
							.bottom_container {
								padding: 16px 32px;
								background-color: #212121;
								.text {
									font-family: $-font-bebas;
									font-size: 18px;
									letter-spacing: 2.5px;
									color: #fff;
									&.red {
										font-family: $-font-bebas-bold;
										color: #b50b27;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
				.drag_row {
					padding: 0 45px;
				}
			}
			
			.section_partners {
				.wrapper {
					padding: 80px 30px 40px 30px;
				}
				.section_title {
					margin-bottom: 40px;
					.title {
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.partners_container {
					.img_container {
						margin-bottom: 40px;
						transform: scale(1);
						transition: all 0.5s ease-out;
						&:hover {
							transform: scale(1.1);
						}
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
			
			.section_feedback {
				.wrapper {
					padding: 80px 20px;
				}
				.section_title {
					margin-bottom: 40px;
					.title {
						text-align: left;
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.form_control {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 240px;
					margin: 0;
					.material {
						position: relative;
						padding: 0;
						border: none;
						overflow: visible;
						margin-bottom: 40px;
						input {
							box-sizing: border-box;
							width: 100%;
							padding: 7px 0;
							border: none;
							border-radius: 0;
							box-shadow: none;
							border-bottom: 1px solid rgba(0,0,0,0.2);
							background-color: transparent;
							font-size: 16px;
							font-family: $-font-gotham;
							outline: none;
							cursor: text;
							&::-webkit-input-placeholder {
								transition: color 300ms ease;
							}
							&:not(:focus)::-webkit-input-placeholder {
								color: transparent;
							}
						}
						hr {
							content: '';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							margin: 0;
							padding: 0;
							width: 100%;
							height: 2px;
							border: none;
							background: #000;
							font-size: 1px;
							will-change: transform, visibility;
							transition: all 200ms ease-out;
							transform: scaleX(0);
							visibility: hidden;
							z-index: 10;
						}
						label {
							position: absolute;
							bottom: 50%;
							left: 0;
							right: 0;
							transform: translateY(50%);
							font-size: 16px;
							color: #000;
							font-family: $-font-gotham;
							opacity: 0.3;
							transform-origin: 0 -150%;
							transition: transform 300ms ease;
							pointer-events: none;
							line-height: normal;
							margin-bottom: 0;
						}
						input:focus ~ hr {
							transform: scaleX(1);
							visibility: visible;
						}
						input:focus ~ label, input:valid ~ label {
							transform: scale(0.7);
							margin-bottom: 5px;
						}
					}
					.btn_row {
						text-align: left;
						.custom_btn {
							width: 180px;
						}
					}
				}
				.speaker_feedback {
					margin-bottom: 50px;
					max-width: 100%;
					&:last-child {
						margin-bottom: 0;
					}
					.speaker_name {
						margin-bottom: 10px;
						&:after {
							width: 100%;
							margin: 0 20px 0 30px;
						}
					}
					.speaker_contacts {
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
		#wrapper-speakers {
			margin-top: 72px;
			.speakers_speech {
				padding: 70px 0 10px 0;
				.wrapper {
					padding: 0 40px;
				}
				.section_title {
					max-width: 400px;
					margin: 0 auto 80px auto;
					.title {
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.cards_container {
					.speaker_card {
						margin-bottom: 60px;
					}
				}
			}
			
			.section_feedback {
				.wrapper {
					padding: 80px 20px;
				}
				.section_title {
					margin-bottom: 40px;
					.title {
						text-align: left;
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.form_control {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 240px;
					margin: 0;
					.material {
						position: relative;
						padding: 0;
						border: none;
						overflow: visible;
						margin-bottom: 40px;
						input {
							box-sizing: border-box;
							width: 100%;
							padding: 7px 0;
							border: none;
							border-radius: 0;
							box-shadow: none;
							border-bottom: 1px solid rgba(0,0,0,0.2);
							background-color: transparent;
							font-size: 16px;
							font-family: $-font-gotham;
							outline: none;
							cursor: text;
							&::-webkit-input-placeholder {
								transition: color 300ms ease;
							}
							&:not(:focus)::-webkit-input-placeholder {
								color: transparent;
							}
						}
						hr {
							content: '';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							margin: 0;
							padding: 0;
							width: 100%;
							height: 2px;
							border: none;
							background: #000;
							font-size: 1px;
							will-change: transform, visibility;
							transition: all 200ms ease-out;
							transform: scaleX(0);
							visibility: hidden;
							z-index: 10;
						}
						label {
							position: absolute;
							bottom: 50%;
							left: 0;
							right: 0;
							transform: translateY(50%);
							font-size: 16px;
							color: #000;
							font-family: $-font-gotham;
							opacity: 0.3;
							transform-origin: 0 -150%;
							transition: transform 300ms ease;
							pointer-events: none;
							line-height: normal;
							margin-bottom: 0;
						}
						input:focus ~ hr {
							transform: scaleX(1);
							visibility: visible;
						}
						input:focus ~ label, input:valid ~ label {
							transform: scale(0.7);
							margin-bottom: 5px;
						}
					}
					.btn_row {
						text-align: left;
						.custom_btn {
							width: 180px;
						}
					}
				}
				.speaker_feedback {
					margin-bottom: 50px;
					max-width: 100%;
					&:last-child {
						margin-bottom: 0;
					}
					.speaker_name {
						margin-bottom: 10px;
						&:after {
							width: 100%;
							margin: 0 20px 0 30px;
						}
					}
					.speaker_contacts {
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
		#wrapper-contacts {
			margin-top: 0;
			.section_feedback {
				height: 100vh;
				padding-top: 72px;
				.wrapper {
					position: relative;
					top: 50%;
					left: 0;
					right: 0;
					transform: translateY(-50%);
					padding: 0 20px;
				}
				.section_title {
					margin-bottom: 40px;
					.title {
						text-align: left;
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.form_control {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 240px;
					margin: 0;
					.material {
						position: relative;
						padding: 0;
						border: none;
						overflow: visible;
						margin-bottom: 40px;
						input {
							box-sizing: border-box;
							width: 100%;
							padding: 7px 0;
							border: none;
							border-radius: 0;
							box-shadow: none;
							border-bottom: 1px solid rgba(0,0,0,0.2);
							background-color: transparent;
							font-size: 16px;
							font-family: $-font-gotham;
							outline: none;
							cursor: text;
							&::-webkit-input-placeholder {
								transition: color 300ms ease;
							}
							&:not(:focus)::-webkit-input-placeholder {
								color: transparent;
							}
						}
						hr {
							content: '';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							margin: 0;
							padding: 0;
							width: 100%;
							height: 2px;
							border: none;
							background: #000;
							font-size: 1px;
							will-change: transform, visibility;
							transition: all 200ms ease-out;
							transform: scaleX(0);
							visibility: hidden;
							z-index: 10;
						}
						label {
							position: absolute;
							bottom: 50%;
							left: 0;
							right: 0;
							transform: translateY(50%);
							font-size: 16px;
							color: #000;
							font-family: $-font-gotham;
							opacity: 0.3;
							transform-origin: 0 -150%;
							transition: transform 300ms ease;
							pointer-events: none;
							line-height: normal;
							margin-bottom: 0;
						}
						input:focus ~ hr {
							transform: scaleX(1);
							visibility: visible;
						}
						input:focus ~ label, input:valid ~ label {
							transform: scale(0.7);
							margin-bottom: 5px;
						}
					}
					.btn_row {
						text-align: left;
						.custom_btn {
							width: 180px;
						}
					}
				}
				.speaker_feedback {
					margin-bottom: 50px;
					max-width: 100%;
					&:last-child {
						margin-bottom: 0;
					}
					.speaker_name {
						margin-bottom: 10px;
						&:after {
							width: 100%;
							margin: 0 20px 0 30px;
						}
					}
					.speaker_contacts {
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
		#wrapper-events {
			margin-top: 72px;
			.section_events {
				padding: 50px 0 0 0;
				.wrapper {
					padding: 0 45px;
				}
				.section_title {
					text-align: left;
					margin-bottom: 40px;
					.title {
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.event_row {
					margin-bottom: 60px;
					.event_container {
						.bottom_info_container {
							position: relative;
							z-index: 1;
							width: 100%;
							max-width: 410px;
							margin: -110px auto 0 auto;
							padding: 40px;
							.sub_title {
								font-size: 16px;
								letter-spacing: 3.5px;
							}
							.event_info {
								margin: 20px 0;
								.text {
									font-size: 16px;
									line-height: 24px;
								}
							}
						}
					}
				}
			}
			.section_feedback {
				.wrapper {
					padding: 80px 20px;
				}
				.section_title {
					margin-bottom: 40px;
					.title {
						text-align: left;
						font-size: 40px;
						letter-spacing: 4px;
					}
				}
				.form_control {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 240px;
					margin: 0;
					.material {
						position: relative;
						padding: 0;
						border: none;
						overflow: visible;
						margin-bottom: 40px;
						input {
							box-sizing: border-box;
							width: 100%;
							padding: 7px 0;
							border: none;
							border-radius: 0;
							box-shadow: none;
							border-bottom: 1px solid rgba(0,0,0,0.2);
							background-color: transparent;
							font-size: 16px;
							font-family: $-font-gotham;
							outline: none;
							cursor: text;
							&::-webkit-input-placeholder {
								transition: color 300ms ease;
							}
							&:not(:focus)::-webkit-input-placeholder {
								color: transparent;
							}
						}
						hr {
							content: '';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							margin: 0;
							padding: 0;
							width: 100%;
							height: 2px;
							border: none;
							background: #000;
							font-size: 1px;
							will-change: transform, visibility;
							transition: all 200ms ease-out;
							transform: scaleX(0);
							visibility: hidden;
							z-index: 10;
						}
						label {
							position: absolute;
							bottom: 50%;
							left: 0;
							right: 0;
							transform: translateY(50%);
							font-size: 16px;
							color: #000;
							font-family: $-font-gotham;
							opacity: 0.3;
							transform-origin: 0 -150%;
							transition: transform 300ms ease;
							pointer-events: none;
							line-height: normal;
							margin-bottom: 0;
						}
						input:focus ~ hr {
							transform: scaleX(1);
							visibility: visible;
						}
						input:focus ~ label, input:valid ~ label {
							transform: scale(0.7);
							margin-bottom: 5px;
						}
					}
					.btn_row {
						text-align: left;
						.custom_btn {
							width: 180px;
						}
					}
				}
				.speaker_feedback {
					margin-bottom: 50px;
					max-width: 100%;
					&:last-child {
						margin-bottom: 0;
					}
					.speaker_name {
						margin-bottom: 10px;
						&:after {
							width: 100%;
							margin: 0 20px 0 30px;
						}
					}
					.speaker_contacts {
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	footer {
		.site-footer {
			&.contacts {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.wrapper {
				padding: 0 45px;
			}
			.bottom-row {
				.socials_container_mobile {
					.facebook {
						margin-right: 30px;
					}
				}
				.socials_container {
					a {
						transition: color 0.4s ease-out;
						&:hover {
							&.facebook {
								color: #3b5998;
							}
							&.instagram {
								color: $-default-red;
							}
						}
					}
				}
			}
		}
	}
}