@media (min-width: 768px) {
	header {
		.site-header-mobile {
			.row_container {
				padding: 15px 40px;
			}
		}
	}
	main {
		#wrapper-main {
			.section_sale {
				.container_to_move {
					.title {
						margin-bottom: 20px;
						h1 {
							font-size: 60px;
							letter-spacing: 4px;
							line-height: 85px;
						}
						h5 {
							font-size: 16px;
						}
					}
					.form_control {
						.material {
							margin-bottom: 50px;
						}
					}
				}
			}
			
			.section_events {
				.wrapper {
					padding: 100px 30px;
				}
				.section_title {
					max-width: 600px;
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.events_container {
					.event_card {
						margin-bottom: 60px;
					}
				}
			}
			
			.section_card_info {
				background: url("../assets/images/hand-bg.png") no-repeat 120% 45%;
				background-size: 505px 590px;
				.section_title {
					margin-bottom: 120px;
					.title {
						font-size: 60px;
						letter-spacing: 6px;
					}
				}
				.middle_info {
					padding-left: 30px;
				}
				.info_add_container {
					.title {
						font-size: 56px;
						letter-spacing: 5px;
						margin-bottom: 10px;
					}
				}
			}
			
			.section_speakers {
				.wrapper {
					padding: 100px 0;
				}
				.section_title {
					.title {
						font-size: 56px;
						letter-spacing: 5px;
						margin-bottom: 0;
					}
					.sub-title {
						font-size: 18px;
					}
				}
				.main-carousel {
					padding-left: 30px;
					.carousel-cell {
						margin-right: 40px;
					}
				}
				.drag_row {
					padding: 0 40px;
				}
			}
			
			.section_partners {
				.wrapper {
					padding: 100px 25px 60px 25px;
				}
				.section_title {
					width: 100%;
					max-width: 550px;
					margin: 0 auto 40px auto;
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
					.sub-title {
						font-size: 18px;
					}
				}
			}
			
			.section_feedback {
				.wrapper {
					padding: 100px 40px;
				}
				.section_title {
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.form_control {
					max-width: 322px;
				}
				.speaker_feedback {
					padding-left: 50px;
					.speaker_name {
						&:after {
							width: 104px;
							margin-right: 0;
						}
					}
					.speaker_contacts {
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
		#wrapper-speakers {
			margin-top: 72px;
			.speakers_speech {
				padding: 90px 0 5px 0;
				.wrapper {
					padding: 0 40px;
				}
				.section_title {
					max-width: 510px;
					margin: 0 auto 80px auto;
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.cards_container {
					.speaker_card {
						margin-bottom: 85px;
					}
				}
			}
			.section_feedback {
				.wrapper {
					padding: 100px 40px;
				}
				.section_title {
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.form_control {
					max-width: 322px;
				}
				.speaker_feedback {
					padding-left: 50px;
					.speaker_name {
						&:after {
							width: 104px;
							margin-right: 0;
						}
					}
					.speaker_contacts {
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
		#wrapper-contacts {
			margin-top: 0;
			.section_feedback {
				.wrapper {
					padding: 0 40px;
				}
				.section_title {
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.form_control {
					max-width: 322px;
				}
				.speaker_feedback {
					padding-left: 50px;
					.speaker_name {
						&:after {
							width: 104px;
							margin-right: 0;
						}
					}
					.speaker_contacts {
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
		#wrapper-events {
			margin-top: 72px;
			.section_events {
				padding: 70px 0 0 0;
				.wrapper {
					padding: 0 40px;
				}
				.section_title {
					margin-bottom: 60px;
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.event_row {
					margin-bottom: 180px;
					.event_container {
						.event_image {
							width: 570px;
							margin: 0 0 0 auto;
						}
						.bottom_info_container {
							position: absolute;
							top: 45px;
							left: 0;
							z-index: 1;
							margin: 0 0 0 auto;
							.sub_title {
								font-size: 16px;
								letter-spacing: 3.5px;
							}
							.event_info {
								margin: 20px 0;
								.text {
									font-size: 16px;
									line-height: 24px;
								}
							}
						}
					}
				}
			}
			.section_feedback {
				.wrapper {
					padding: 100px 40px;
				}
				.section_title {
					.title {
						font-size: 56px;
						letter-spacing: 5px;
					}
				}
				.form_control {
					max-width: 322px;
				}
				.speaker_feedback {
					padding-left: 50px;
					.speaker_name {
						&:after {
							width: 104px;
							margin-right: 0;
						}
					}
					.speaker_contacts {
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	footer {
		.site-footer {
			.wrapper {
				padding: 0 40px;
			}
		}
	}
}