@media (min-width: 1200px) {
	header {
		.site-header {
			padding: 22px 60px;
			.header_container {
				.nav_container {
					.list_item {
						margin-right: 40px;
					}
				}
			}
		}
	}
	main {
		#wrapper-main {
			.section_sale {
				.wrapper {
					padding: 30px 60px;
				}
				.container_to_move {
					.title {
						h1 {
							font-size: 80px;
							line-height: 85px;
							letter-spacing: 8px;
						}
					}
				}
				.left_container {
					.social_container {
						padding-left: 0;
					}
				}
			}
			
			.section_events {
				.wrapper {
					padding: 100px 120px;
				}
				.events_container {
					.event_card {
						margin: 0 30px 60px 30px;
					}
				}
			}
			
			.section_card_info {
				background: url("../assets/images/hand-bg.png") no-repeat right 60%;
				.wrapper {
					padding: 100px 0;
				}
				.section_title {
					margin-bottom: 100px;
				}
				.middle_info {
					width: 100%;
					max-width: 400px;
					padding-left: 0;
					margin: 0 auto 0 20%;
					.text{
						padding-bottom: 150px;
					}
				}
			}
			
			.section_speakers {
				.main-carousel {
					padding-left: 150px;
					margin-bottom: 20px;
				}
			}
			
			.section_partners {
				.wrapper {
					padding: 100px 60px;
				}
			}
			
			.section_feedback {
				.wrapper {
					max-width: 1000px;
					padding: 100px 0;
				}
			}
		}
		#wrapper-speakers {
			margin-top: 90px;
			.speakers_speech {
				padding: 70px 0 0 0;
				.wrapper {
					padding: 0 40px;
				}
				.section_title {
					max-width: 860px;
					margin: 0 auto 80px auto;
					.title {
						font-size: 110px;
						letter-spacing: 5px;
					}
				}
				.cards_container {
					.speaker_card {
						margin-bottom: 85px;
					}
				}
			}
			.section_feedback {
				.wrapper {
					max-width: 1000px;
					padding: 100px 0;
				}
			}
		}
		#wrapper-contacts {
			margin-top: 0;
			.section_feedback {
				.wrapper {
					max-width: 1000px;
					padding: 0;
				}
			}
		}
		#wrapper-events {
			margin-top: 86px;
			.section_events {
				padding: 90px 0 0 0;
				.wrapper {
					max-width: 1240px;
					padding: 0 60px;
				}
				.section_title {
					margin-bottom: 80px;
					.title {
						font-size: 80px;
						letter-spacing: 8px;
					}
				}
				.event_row {
					margin-bottom: 160px;
				}
			}
			.section_feedback {
				.wrapper {
					max-width: 1000px;
					padding: 100px 0;
				}
			}
		}
	}
	footer {
		.site-footer {
			.wrapper {
				max-width: 1260px;
				padding: 0 60px;
			}
		}
	}
}