@media (min-width: 992px) {
	header {
		.site-header {
			padding: 20px 25px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			.header_container {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				.logo {
					display: flex;
					align-items: center;
					height: 100%;
					img {
						width: 100px;
						height: 100%;
					}
				}
				.nav_container {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					height: 100%;
					.list_item {
						margin-right: 25px;
						&:hover {
							a {
								color: $-default-red;
							}
						}
						&:last-child {
							margin-right: 0;
						}
						a {
							text-transform: uppercase;
							font-size: 14px;
							letter-spacing: 0.5px;
							transition: 0.3s ease-out;
						}
					}
				}
				.numb_container {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					height: 100%;
					.icon {
						margin-right: 5px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.text {
						font-size: 14px;
					}
				}
			}
		}
	}
	main {
		#wrapper-main {
			.section_sale {
				height: calc(100vh - 86px);
				margin-top: 86px;
				.container_to_move {
					left: 13%;
					.form_control {
						max-width: 322px;
					}
				}
			}
			
			.section_events {
				.wrapper {
					padding: 100px 30px;
				}
				.events_container {
					.event_card {
						margin: 0 17px 60px 17px;
					}
				}
			}
			
			.section_card_info {
				background-size: 780px 916px;
				background: url("../assets/images/hand-bg.png") no-repeat 150% 70%;
				.wrapper {
					padding: 100px 45px;
				}
				.section_title {
					.title {
						font-size: 80px;
						letter-spacing: 8px;
					}
				}
				.middle_info {
					padding-left: 10%;
				}
				.info_add_container {
					margin-top: 100px;
				}
			}
			
			.section_speakers {
				.wrapper {
					padding: 100px 0 60px 0;
				}
			}
			
			.section_partners {
				.wrapper {
					padding: 100px 25px 60px 25px;
				}
			}
			
			.section_feedback {
				.wrapper {
					max-width: 770px;
					margin: 0 auto;
					padding: 100px 0;
				}
			}
		}
		#wrapper-speakers {
			margin-top: 86px;
			.speakers_speech {
				padding: 90px 0 5px 0;
				.wrapper {
					padding: 0 40px;
				}
				.section_title {
					max-width: 710px;
					margin: 0 auto 120px auto;
					.title {
						font-size: 80px;
						letter-spacing: 8px;
					}
				}
				.cards_container {
					.speaker_card {
						margin-bottom: 85px;
					}
				}
			}
			.section_feedback {
				.wrapper {
					max-width: 770px;
					margin: 0 auto;
					padding: 100px 0;
				}
			}
		}
		#wrapper-contacts {
			margin-top: 0;
			.section_feedback {
				.wrapper {
					max-width: 770px;
					margin: 0 auto;
					padding: 0;
				}
			}
		}
		#wrapper-events {
			margin-top: 86px;
			.section_events {
				padding: 90px 0 0 0;
				.wrapper {
					padding: 0 47px;
				}
				.section_title {
					margin-bottom: 80px;
					.title {
						font-size: 80px;
						letter-spacing: 8px;
					}
				}
				.event_row {
					margin-bottom: 160px;
					.event_container {
						.event_image {
							width: 730px;
							margin: 0 0 0 auto;
						}
						.bottom_info_container {
							position: absolute;
							top: 60px;
							left: 0;
							z-index: 1;
							margin: 0 0 0 auto;
							padding: 50px;
							max-width: 440px;
							.sub_title {
								font-size: 18px;
								letter-spacing: 4.5px;
							}
							.event_info {
								margin: 20px 0;
								.title {
									font-size: 24px;
									line-height: 24px;
								}
								.text {
									font-size: 16px;
									line-height: 24px;
								}
							}
							.event_data {
								margin-bottom: 45px;
							}
						}
					}
				}
			}
			.section_feedback {
				.wrapper {
					max-width: 770px;
					margin: 0 auto;
					padding: 100px 0;
				}
			}
		}
	}
	footer {
		.site-footer {
			.wrapper {
				.bottom-row {
					.socials_container {
						a {
							&.facebook {
								margin-right: 45px;
							}
						}
					}
				}
			}
		}
	}
}